flow.json
[{"id":"86596593.bea2a8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"f57b277d.412b28","type":"tab","label":"センサ処理(シミュレータ)","disabled":true,"info":""},{"id":"34d18a87.5340b6","type":"tab","label":"センサ入力 NC旋盤","disabled":false,"info":""},{"id":"a17d6158.78172","type":"tab","label":"データ処理","disabled":false,"info":""},{"id":"7f862bf4.5c4854","type":"tab","label":"段替え、最終データ抽出","disabled":false,"info":""},{"id":"ee0cd21d.ab777","type":"tab","label":"分析データ作成","disabled":false,"info":""},{"id":"9725a0bb.b378e","type":"tab","label":"●設備停止理由・CSV転送","disabled":false,"info":""},{"id":"a1a4485.93f86b8","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"f2fadff3.f04bc","type":"subflow","name":"poqtgresql","info":"","category":"","in":[{"x":50,"y":80,"wires":[{"id":"15faa0f7.baac0f"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"af4e28aa.009ea8","port":0}]}],"env":[]},{"id":"eee88f0c.37676","type":"subflow","name":"postgresql output","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"9b0ffcda.a96dd"}]}],"out":[{"x":500,"y":60,"wires":[{"id":"18c5362b.3d9fba","port":0}]}],"env":[]},{"id":"5b877ada.11e2b4","type":"subflow","name":"postgresDB (2)","info":"","category":"","in":[{"x":50,"y":80,"wires":[{"id":"dc63c943.3dbf38"}]}],"out":[{"x":538,"y":81.99999809265137,"wires":[{"id":"dc63c943.3dbf38","port":0}]}],"env":[]},{"id":"e915621d.95a38","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e916a8a8.2832f8","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"rivatec","ssl":false},{"id":"4f5abdb4.a07914","type":"ui_group","z":"","name":"現在の設定値","tab":"c0e3cf74.cacda","order":1,"disp":false,"width":"6","collapse":false},{"id":"35fc9728.2ba578","type":"ui_group","z":"","name":"設備停止閾値設定","tab":"c0e3cf74.cacda","order":2,"disp":false,"width":"6","collapse":false},{"id":"c0e3cf74.cacda","type":"ui_tab","z":"","name":"設定画面","icon":"dashboard","order":2},{"id":"9008c37a.8bf77","type":"ui_tab","z":"","name":"管理画面","icon":"dashboard","order":3},{"id":"5fc08b19.96ba84","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"rivatec","ssl":false},{"id":"4be9179.7944ee8","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"42529f1b.ba938","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"95d9b0e5.d0f16","type":"change","z":"f57b277d.412b28","name":"赤ON/OFF","rules":[{"t":"set","p":"red","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["8a37303d.fc45b"]]},{"id":"55a90bd0.9d6df4","type":"change","z":"f57b277d.412b28","name":"黄ON/OFF","rules":[{"t":"set","p":"yellow","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":220,"wires":[["3316604c.337ea"]]},{"id":"8665591.24b6ca8","type":"change","z":"f57b277d.412b28","name":"青ON/OFF","rules":[{"t":"set","p":"blue","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":406,"y":295,"wires":[["e79e0ebd.96669"]]},{"id":"9c921183.1e306","type":"function","z":"f57b277d.412b28","name":"日付設定","func":"var date = new Date();\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2) + ' ';\nd += ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.date_time = d;\nmsg.epoch_time = Date.now();\n\nmsg.equipment_name = global.get(\"g_equipment_name\");\nmsg.equipment_no = global.get(\"g_equipment_no\");\nmsg.disp_no = global.get(\"g_disp_no\");\nreturn msg;","outputs":1,"noerr":0,"x":912.0001220703125,"y":278.00003242492676,"wires":[["7c07d4a.2d7662c","3d438930.7c05b6"]]},{"id":"8a37303d.fc45b","type":"function","z":"f57b277d.412b28","name":"入力設定(赤以外)","func":"msg.yellow = '2';\nmsg.blue = '2';\nmsg.sensor = '2';\nmsg.part_no = '----';\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":140,"wires":[["9c921183.1e306"]]},{"id":"3316604c.337ea","type":"function","z":"f57b277d.412b28","name":"入力設定(黄以外)","func":"msg.red = '2';\nmsg.blue = '2';\nmsg.sensor = '2';\nmsg.part_no = '----';\nreturn msg;","outputs":1,"noerr":0,"x":651,"y":221,"wires":[["9c921183.1e306"]]},{"id":"e79e0ebd.96669","type":"function","z":"f57b277d.412b28","name":"入力設定(青以外)","func":"msg.red = '2';\nmsg.yellow = '2';\nmsg.sensor = '2';\nmsg.part_no = '----';\nreturn msg;","outputs":1,"noerr":0,"x":651.0000152587891,"y":296.0000104904175,"wires":[["9c921183.1e306"]]},{"id":"6cc46f71.2c138","type":"change","z":"f57b277d.412b28","name":"センサON/OFF","rules":[{"t":"set","p":"sensor","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":400,"wires":[["ef539ec8.2421c"]]},{"id":"ef539ec8.2421c","type":"function","z":"f57b277d.412b28","name":"入力設定(センサ以外)","func":"msg.red = '2';\nmsg.yellow = '2';\nmsg.blue = '2';\nmsg.part_no = '----';\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":400,"wires":[["9c921183.1e306"]]},{"id":"ffe080f8.ee80e","type":"inject","z":"f57b277d.412b28","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":206.86719131469727,"y":125.84766006469727,"wires":[["95d9b0e5.d0f16"]]},{"id":"e466d9e9.c73898","type":"inject","z":"f57b277d.412b28","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":206,"y":163.00390625,"wires":[["95d9b0e5.d0f16"]]},{"id":"19c60a05.66f7c6","type":"inject","z":"f57b277d.412b28","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":208,"y":200.00390625,"wires":[["55a90bd0.9d6df4"]]},{"id":"980b3e9.36bcec","type":"inject","z":"f57b277d.412b28","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":207.13280868530273,"y":237.16015243530273,"wires":[["55a90bd0.9d6df4"]]},{"id":"696a94f2.eedfdc","type":"inject","z":"f57b277d.412b28","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"10","x":205.84765815734863,"y":273.00390625,"wires":[["8665591.24b6ca8"]]},{"id":"ca302355.ea382","type":"inject","z":"f57b277d.412b28","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":204.98046684265137,"y":310.16015243530273,"wires":[["8665591.24b6ca8"]]},{"id":"7c07d4a.2d7662c","type":"link out","z":"f57b277d.412b28","name":"センサ出力▶","links":["10dbd753.c2b669","770f2ebc.e712e"],"x":1035,"y":280,"wires":[]},{"id":"6e9e2147.6d952","type":"comment","z":"f57b277d.412b28","name":"センサ入力処理１","info":"Injectノードは、Raspberri pi 移行時は\nGPIO入力ノードにすること\n","x":145.86328887939453,"y":74.32031917572021,"wires":[]},{"id":"269f40a0.5bb1","type":"inject","z":"f57b277d.412b28","name":"デバッグ用","topic":"","payload":"1","payloadType":"str","repeat":"120","crontab":"","once":true,"onceDelay":"120","x":220,"y":400,"wires":[["6cc46f71.2c138"]]},{"id":"611b6852.d33f98","type":"inject","z":"f57b277d.412b28","name":"QRコード読込み","topic":"","payload":"6L72020200xxxx","payloadType":"str","repeat":"","crontab":"01 08 * * *","once":false,"onceDelay":"5","x":239.98054122924805,"y":454.66271591186523,"wires":[["aaf4575e.f9c2a8"]]},{"id":"64bd6647.0e1d38","type":"function","z":"f57b277d.412b28","name":"入力設定(センサ以外)","func":"msg.red = '2';\nmsg.yellow = '2';\nmsg.blue = '2';\nmsg.sensor = '2';\nreturn msg;","outputs":1,"noerr":0,"x":646.9806594848633,"y":454.3295249938965,"wires":[["9c921183.1e306"]]},{"id":"aaf4575e.f9c2a8","type":"change","z":"f57b277d.412b28","name":"加工品番","rules":[{"t":"set","p":"part_no","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":433.9805030822754,"y":453.9960765838623,"wires":[["64bd6647.0e1d38"]]},{"id":"6b2f9d.4487e064","type":"inject","z":"f57b277d.412b28","name":"段変開始QRコード読込み","topic":"","payload":"9999999999","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":253,"y":494,"wires":[[]]},{"id":"3d438930.7c05b6","type":"debug","z":"f57b277d.412b28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":320,"wires":[]},{"id":"31aade19.d32182","type":"comment","z":"f57b277d.412b28","name":"非稼働時間到達判定","info":"","x":200,"y":580,"wires":[]},{"id":"cc241b81.ce7178","type":"inject","z":"f57b277d.412b28","name":"開始時刻","topic":"","payload":"1205","payloadType":"str","repeat":"","crontab":"05 12 * * *","once":false,"onceDelay":0.1,"x":290,"y":620,"wires":[["f438825b.83bd1"]],"icon":"node-red/timer.png"},{"id":"15a70fd1.3dc26","type":"inject","z":"f57b277d.412b28","name":"終了時刻","topic":"","payload":"1300","payloadType":"str","repeat":"","crontab":"00 13 * * *","once":false,"onceDelay":0.1,"x":290,"y":660,"wires":[["f438825b.83bd1"]],"icon":"node-red/timer.png"},{"id":"f438825b.83bd1","type":"change","z":"f57b277d.412b28","name":"該当時刻設定","rules":[{"t":"set","p":"t1205_1300","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":640,"wires":[["7b3bbd35.cd44d4"]]},{"id":"7b3bbd35.cd44d4","type":"function","z":"f57b277d.412b28","name":"データ生成","func":"// 0:OFF、1:ON、2:未入力\nmsg.red = '2';\nmsg.yellow = '2';\nmsg.blue = '2';\nmsg.sensor = '2';\n\n// az10桁:パーツNO、----:未入力\nmsg.part_no = '----';\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":640,"wires":[[]]},{"id":"4c36c987.1f2c18","type":"function","z":"34d18a87.5340b6","name":"日付・情報設定","func":"var date = new Date();\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2) + ' ';\nd += ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.date_time = d;\nmsg.epoch_time = Date.now();\n\nmsg.equipment_name = global.get(\"g_equipment_name\");\nmsg.equipment_no = global.get(\"g_equipment_no\");\nmsg.disp_no = global.get(\"g_disp_no\");\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":740,"wires":[["1a774385.04e46c","de223d10.c127a"]]},{"id":"72c24e8c.2b81","type":"function","z":"34d18a87.5340b6","name":"データ生成","func":"// 0:OFF、1:ON、2:未入力\nmsg.yellow = '2';\nmsg.blue = '2';\nmsg.sensor = '2';\n\n// az10桁:パーツNO、----:未入力\nmsg.part_no = '----';\n\n//AM8:00以前のカウンタを0にする\nmsg.pre_cnt = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":495,"wires":[["4c36c987.1f2c18"]]},{"id":"efe9dba2.4a9db8","type":"function","z":"34d18a87.5340b6","name":"データ生成","func":"// 0:OFF、1:ON、2:未入力\nmsg.red = '2';\nmsg.blue = '2';\nmsg.sensor = '2';\n\n// az10桁:パーツNO、----:未入力\nmsg.part_no = '----';\n\n//AM8:00以前のカウンタを0にする\nmsg.pre_cnt = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":535,"wires":[["4c36c987.1f2c18"]]},{"id":"20a5a37b.fc4c4c","type":"function","z":"34d18a87.5340b6","name":"データ生成","func":"// 0:OFF、1:ON、2:未入力\nmsg.red = '2';\nmsg.yellow = '2';\nmsg.sensor = '2';\n\n// az10桁:パーツNO、----:未入力\nmsg.part_no = '----';\n\n//AM8:00以前のカウンタを0にする\nmsg.pre_cnt = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":575,"wires":[["4c36c987.1f2c18"]]},{"id":"39a74dee.9cfde2","type":"change","z":"34d18a87.5340b6","name":"ON/OFF取得","rules":[{"t":"set","p":"sensor","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":720,"wires":[["3ffaccf0.1db3b4"]]},{"id":"c25b67b6.f0afe8","type":"function","z":"34d18a87.5340b6","name":"データ生成","func":"// 0:OFF、1:ON、2:未入力\nmsg.red = '2';\nmsg.yellow = '2';\nmsg.blue = '2';\n\n// az10桁:パーツNO、----:未入力\nmsg.part_no = '----';\n\n//AM8:00以前のカウンタを0にする\nmsg.pre_cnt = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":720,"wires":[["4c36c987.1f2c18"]]},{"id":"6bb74921.2a8618","type":"comment","z":"34d18a87.5340b6","name":"パトライト入力","info":"","x":120,"y":440,"wires":[]},{"id":"d53356f9.e925a8","type":"comment","z":"34d18a87.5340b6","name":"バーコードリード","info":"","x":130,"y":880,"wires":[]},{"id":"55a3b3d6.fa433c","type":"rpi-gpio in","z":"34d18a87.5340b6","name":"光電ON/OFF","pin":"16","intype":"tri","debounce":"25","read":true,"x":160,"y":720,"wires":[["39a74dee.9cfde2"]],"icon":"node-red/trigger.png"},{"id":"a04c9042.181dd","type":"inject","z":"34d18a87.5340b6","name":"開始時刻","topic":"","payload":"1205","payloadType":"str","repeat":"","crontab":"05 12 * * *","once":false,"onceDelay":0.1,"x":360,"y":780,"wires":[["b06c46d2.eaddb8"]],"icon":"node-red/timer.png"},{"id":"796d1f19.8b1f8","type":"inject","z":"34d18a87.5340b6","name":"終了時刻","topic":"","payload":"1300","payloadType":"str","repeat":"","crontab":"00 13 * * *","once":false,"onceDelay":0.1,"x":360,"y":820,"wires":[["b06c46d2.eaddb8"]],"icon":"node-red/timer.png"},{"id":"b06c46d2.eaddb8","type":"change","z":"34d18a87.5340b6","name":"該当時刻設定","rules":[{"t":"set","p":"t1205_1300","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":800,"wires":[["5e09cf2e.b3dac"]]},{"id":"5e09cf2e.b3dac","type":"function","z":"34d18a87.5340b6","name":"データ生成","func":"// 0:OFF、1:ON、2:未入力\nmsg.red = '2';\nmsg.yellow = '2';\nmsg.blue = '2';\nmsg.sensor = '2';\n\n// az10桁:パーツNO、----:未入力\nmsg.part_no = '----';\n\n//AM8:00以前のカウンタを0にする\nmsg.pre_cnt = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":800,"wires":[["4c36c987.1f2c18"]]},{"id":"e84a660c.76e738","type":"comment","z":"34d18a87.5340b6","name":"光電センサ入力","info":"","x":120,"y":660,"wires":[]},{"id":"b0af1a0e.292148","type":"comment","z":"34d18a87.5340b6","name":"非稼働時間到達判定","info":"","x":140,"y":780,"wires":[]},{"id":"47f1543e.e0176c","type":"comment","z":"34d18a87.5340b6","name":"データ処理メイン▶","info":"","x":1200,"y":820,"wires":[]},{"id":"65178f6b.b3fae","type":"inject","z":"34d18a87.5340b6","name":"起動時","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":120,"wires":[["57301f34.6f101","1a84cfb.dd73d3"]]},{"id":"57301f34.6f101","type":"change","z":"34d18a87.5340b6","name":"フロー変数初期化","rules":[{"t":"set","p":"f_part_no","pt":"flow","to":"----","tot":"str"},{"t":"set","p":"f_system_start_flag","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"f_am8","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"f_pre_sensor_cnt","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":120,"wires":[["c26ac4c1.185828"]]},{"id":"265b7429.d39f6c","type":"comment","z":"34d18a87.5340b6","name":"プロジェクト初期化","info":"\n","x":140,"y":60,"wires":[]},{"id":"b434898b.0b7fc8","type":"rpi-gpio in","z":"34d18a87.5340b6","name":"赤","pin":"21","intype":"tri","debounce":"25","read":true,"x":150,"y":495,"wires":[["577db4b1.50437c"]],"icon":"node-red/trigger.png"},{"id":"e9626cf6.324e2","type":"rpi-gpio in","z":"34d18a87.5340b6","name":"黄","pin":"19","intype":"tri","debounce":"25","read":true,"x":150,"y":535,"wires":[["29bbe331.eaa50c"]],"icon":"node-red/trigger.png"},{"id":"e64c3f76.4f9cf","type":"rpi-gpio in","z":"34d18a87.5340b6","name":"青","pin":"18","intype":"tri","debounce":"25","read":true,"x":150,"y":575,"wires":[["56c63e50.a9e73"]],"icon":"node-red/trigger.png"},{"id":"577db4b1.50437c","type":"change","z":"34d18a87.5340b6","name":"ON/OFF取得","rules":[{"t":"set","p":"red","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":495,"wires":[["72c24e8c.2b81"]]},{"id":"29bbe331.eaa50c","type":"change","z":"34d18a87.5340b6","name":"ON/OFF取得","rules":[{"t":"set","p":"yellow","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":535,"wires":[["efe9dba2.4a9db8"]]},{"id":"56c63e50.a9e73","type":"change","z":"34d18a87.5340b6","name":"ON/OFF取得","rules":[{"t":"set","p":"blue","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":575,"wires":[["20a5a37b.fc4c4c"]]},{"id":"d4ffb157.2fa78","type":"file in","z":"34d18a87.5340b6","name":"コンフィグパラメータ取得","filename":"/home/RMS/.setting/param.dat","format":"lines","chunk":false,"sendError":false,"x":380,"y":260,"wires":[["a9294369.bdeb6"]]},{"id":"c9657696.f00bf8","type":"inject","z":"34d18a87.5340b6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":260,"wires":[["d4ffb157.2fa78","b334a8de.fb0e18"]]},{"id":"a9294369.bdeb6","type":"function","z":"34d18a87.5340b6","name":"グローバル設定","func":"var data = msg.payload;\nvar index = data.indexOf(\":\");\n\nvar name = data.substr(0, index);\nvar val = data.substr(index + 1);\n\nglobal.set(name, val);\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[[]]},{"id":"aa09e394.e1c2e","type":"comment","z":"34d18a87.5340b6","name":"グローバル変数の読込み","info":"\n","x":150,"y":200,"wires":[]},{"id":"664a60cb.6f38b","type":"link out","z":"34d18a87.5340b6","name":"センサ出力▶","links":["770f2ebc.e712e","6be6ddb8.19af74"],"x":1195,"y":780,"wires":[]},{"id":"4146571a.ca1e98","type":"catch","z":"34d18a87.5340b6","name":"","scope":["a9294369.bdeb6"],"x":600,"y":300,"wires":[[]]},{"id":"5ea74cf3.f82a14","type":"comment","z":"7f862bf4.5c4854","name":"段替え前、最終レコード抽出","info":"","x":170,"y":80,"wires":[]},{"id":"7cd824c6.f5896c","type":"change","z":"7f862bf4.5c4854","name":"","rules":[{"t":"set","p":"offset","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"f_last","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"f_offset","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"payload_pre.epoch_time","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload_pre.current_part_no","pt":"msg","to":"----","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":200,"wires":[["f06212e3.64088"]]},{"id":"6feae09b.bb483","type":"change","z":"7f862bf4.5c4854","name":"代入","rules":[{"t":"set","p":"payload.date_time","pt":"msg","to":"payload.0.date_time","tot":"msg"},{"t":"set","p":"payload.equipment_name","pt":"msg","to":"payload.0.equipment_name","tot":"msg"},{"t":"set","p":"payload.equipment_no","pt":"msg","to":"payload.0.equipment_no","tot":"msg"},{"t":"set","p":"payload.sts","pt":"msg","to":"payload.0.sts","tot":"msg"},{"t":"set","p":"payload.run_time","pt":"msg","to":"payload.0.run_time","tot":"msg"},{"t":"set","p":"payload.off_time","pt":"msg","to":"payload.0.off_time","tot":"msg"},{"t":"set","p":"payload.alarm_count","pt":"msg","to":"payload.0.alarm_count","tot":"msg"},{"t":"set","p":"payload.start_day","pt":"msg","to":"payload.0.start_day","tot":"msg"},{"t":"set","p":"payload.start_time","pt":"msg","to":"payload.0.start_time","tot":"msg"},{"t":"set","p":"payload.end_time","pt":"msg","to":"payload.0.end_time","tot":"msg"},{"t":"set","p":"payload.standard_volume","pt":"msg","to":"payload.0.standard_volume","tot":"msg"},{"t":"set","p":"payload.target_volume","pt":"msg","to":"payload.0.target_volume","tot":"msg"},{"t":"set","p":"payload.volume","pt":"msg","to":"payload.0.volume","tot":"msg"},{"t":"set","p":"payload.estimate_volume","pt":"msg","to":"payload.0.estimate_volume","tot":"msg"},{"t":"set","p":"payload.actual_cycle_time","pt":"msg","to":"payload.0.actual_cycle_time","tot":"msg"},{"t":"set","p":"payload.mobility","pt":"msg","to":"payload.0.mobility","tot":"msg"},{"t":"set","p":"payload.current_part_no","pt":"msg","to":"payload.0.current_part_no","tot":"msg"},{"t":"set","p":"payload.run_time_part","pt":"msg","to":"payload.0.run_time_part","tot":"msg"},{"t":"set","p":"payload.mobility_part","pt":"msg","to":"payload.0.mobility_part","tot":"msg"},{"t":"set","p":"payload.epoch_time","pt":"msg","to":"payload.0.epoch_time","tot":"msg"},{"t":"set","p":"payload.stop_count","pt":"msg","to":"payload.0.stop_count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["325d795a.c40c36"]]},{"id":"ae86cf7b.b97e7","type":"comment","z":"7f862bf4.5c4854","name":"CSVファイルの列名作成","info":"","x":170,"y":1140,"wires":[]},{"id":"a58b12ca.29305","type":"comment","z":"7f862bf4.5c4854","name":"CSVファイルにBOM書込み","info":"","x":180,"y":1020,"wires":[]},{"id":"458e21f.a61b1e","type":"inject","z":"7f862bf4.5c4854","name":"BOM書込み","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1080,"wires":[["cfd65197.78cb7"]]},{"id":"b0719423.93f698","type":"file","z":"7f862bf4.5c4854","name":"BOMをファイル出力","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1040,"y":1080,"wires":[[]]},{"id":"579251c8.1f693","type":"function","z":"7f862bf4.5c4854","name":"UTF-8 BOM作成","func":"//UTF-8のBOM(0xEF 0xBB 0xBF)をファイルの先頭に書き込む\nmsg.payload = { \"BOM1\": 239, \"BOM2\": 187, \"BOM3\": 191 };\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1080,"wires":[["1548b5e6.40bf0a"]]},{"id":"1548b5e6.40bf0a","type":"binary","z":"7f862bf4.5c4854","name":"BOM binary data","pattern":"b8 => BOM1, b8 => BOM2, b8 => BOM3","x":810,"y":1080,"wires":[["b0719423.93f698"]]},{"id":"e82dff56.06463","type":"switch","z":"7f862bf4.5c4854","name":"最終レコード判断","property":"payload.epoch_time","propertyType":"msg","rules":[{"t":"neq","v":"f_last_epoch_time","vt":"flow"},{"t":"eq","v":"f_last_epoch_time","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":540,"wires":[["ec5ffc22.89303"],["d2cec0d4.da8db"]]},{"id":"ec5ffc22.89303","type":"switch","z":"7f862bf4.5c4854","name":"段替え判断","property":"payload.current_part_no","propertyType":"msg","rules":[{"t":"eq","v":"payload_pre.current_part_no","vt":"msg"},{"t":"neq","v":"payload_pre.current_part_no","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":540,"wires":[["6aa38ec5.78317"],["a87c81c2.ff1dc","8ddd7339.2b5ed"]]},{"id":"cfd65197.78cb7","type":"function","z":"7f862bf4.5c4854","name":"ファイル名取得","func":"var dir = global.get(\"g_edge_base_dir\");\nvar date = new Date();\nvar d = date.getFullYear();\n\nmsg.filename = dir + \"/ExtractData\" + d + \".csv\";\nflow.set(\"csv_filename\", msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1080,"wires":[["579251c8.1f693"]]},{"id":"256abe0e.a099d2","type":"inject","z":"7f862bf4.5c4854","name":"列名書込み","topic":"","payload":"{\"\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1200,"wires":[["890bacc7.e5606"]]},{"id":"890bacc7.e5606","type":"function","z":"7f862bf4.5c4854","name":"ファイル名取得","func":"msg.filename = flow.get(\"csv_filename\");\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1200,"wires":[["fe36425d.4d3a4"]]},{"id":"27bdf318.91b19c","type":"file","z":"7f862bf4.5c4854","name":"レコードの追記","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1130,"y":800,"wires":[[]]},{"id":"7bd717ab.466738","type":"function","z":"7f862bf4.5c4854","name":"ファイル名取得","func":"msg.filename = flow.get(\"csv_filename\");\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":800,"wires":[["27bdf318.91b19c"]]},{"id":"c34f253e.889028","type":"function","z":"7f862bf4.5c4854","name":"offset+1","func":"var offset = flow.get(\"f_offset\");\noffset += 1;\nflow.set(\"f_offset\", offset);\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":360,"wires":[["6feae09b.bb483"]]},{"id":"d2cec0d4.da8db","type":"change","z":"7f862bf4.5c4854","name":"","rules":[{"t":"set","p":"f_last","pt":"flow","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":580,"wires":[["a87c81c2.ff1dc","8ddd7339.2b5ed"]]},{"id":"8ddd7339.2b5ed","type":"switch","z":"7f862bf4.5c4854","name":"","property":"f_last","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":580,"wires":[[],["7d45ca4b.f8dd94"]]},{"id":"97001390.901f9","type":"link in","z":"7f862bf4.5c4854","name":"","links":["a4299ba4.2d6288","5779c69b.f1dd28"],"x":575,"y":300,"wires":[["22b8a1c6.5f711e"]]},{"id":"5779c69b.f1dd28","type":"link out","z":"7f862bf4.5c4854","name":"","links":["97001390.901f9"],"x":1215,"y":580,"wires":[]},{"id":"22b8a1c6.5f711e","type":"function","z":"7f862bf4.5c4854","name":"msg.offset","func":"msg.offset = flow.get(\"f_offset\");\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["ee03b5fa.3969d8"]]},{"id":"a4299ba4.2d6288","type":"link out","z":"7f862bf4.5c4854","name":"","links":["97001390.901f9"],"x":1055,"y":520,"wires":[]},{"id":"3a8f9979.033156","type":"change","z":"7f862bf4.5c4854","name":"","rules":[{"t":"set","p":"f_last_epoch_time","pt":"flow","to":"payload.0.epoch_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[["22b8a1c6.5f711e"]]},{"id":"325d795a.c40c36","type":"function","z":"7f862bf4.5c4854","name":"payload_tmp←payload","func":"msg.payload_tmp = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":360,"wires":[["e75355e1.82e1a8"]]},{"id":"6aa38ec5.78317","type":"function","z":"7f862bf4.5c4854","name":"payload_pre←payload_tmp","func":"msg.payload_pre = msg.payload_tmp;\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":520,"wires":[["a4299ba4.2d6288"]]},{"id":"7d45ca4b.f8dd94","type":"function","z":"7f862bf4.5c4854","name":"payload_pre←payload_tmp","func":"msg.payload_pre = msg.payload_tmp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":580,"wires":[["5779c69b.f1dd28"]]},{"id":"e75355e1.82e1a8","type":"function","z":"7f862bf4.5c4854","name":"加工品番の先頭10文字","func":"msg.current_part_no10 = msg.payload.current_part_no.substr(0,10); //先頭10文字\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["b2831b56.9dc028"]]},{"id":"4f6953e.bb98aac","type":"change","z":"7f862bf4.5c4854","name":"代入","rules":[{"t":"set","p":"payload_tmp.standard_cycle_time","pt":"msg","to":"payload.0.standard_cycle_time","tot":"msg"},{"t":"set","p":"payload_tmp.target_cycle_time","pt":"msg","to":"payload.0.target_cycle_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":480,"wires":[["4dd9fd5d.aabea4"]]},{"id":"4dd9fd5d.aabea4","type":"function","z":"7f862bf4.5c4854","name":"payload←payload_tmp","func":"msg.payload = msg.payload_tmp;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":480,"wires":[["e82dff56.06463"]]},{"id":"a87c81c2.ff1dc","type":"function","z":"7f862bf4.5c4854","name":"ファイル出力データ","func":"var last = flow.get(\"f_last\");\nvar equipment_name;\nvar sts;\n\n// 最終レコードでない場合\nif(last != 1){\n    if(global.get(\"g_language\") == \"Japanese\") {\n        equipment_name = msg.payload_pre.equipment_name;\n        sts = msg.payload_pre.sts;\n    }\n    else {\n        equipment_name = global.get(\"g_equipment_name_e\");\n        if(msg.payload_pre.sts == \"稼働\") sts = \"Actual\";\n        else if(msg.payload_pre.sts == \"停止\") sts = \"Stop\";\n        else if(msg.payload_pre.sts == \"警報\") sts = \"Alarm\";\n        else sts = msg.payload_pre.sts;\n    }\n\n   msg.date_time = msg.payload_pre.date_time;\n   msg.equipment_name = equipment_name;\n   msg.equipment_no = msg.payload_pre.equipment_no;\n   msg.sts = sts;\n   msg.run_time = msg.payload_pre.run_time;\n   msg.off_time = msg.payload_pre.off_time;\n   msg.alarm_count = msg.payload_pre.alarm_count;\n   msg.start_day = msg.payload_pre.start_day;\n   msg.start_time = msg.payload_pre.start_time;\n   msg.end_time = msg.payload_pre.end_time;\n   msg.standard_volume = msg.payload_pre.standard_volume;\n   msg.target_volume = msg.payload_pre.target_volume;\n   msg.volume = msg.payload_pre.volume;\n   msg.estimate_volume = msg.payload_pre.estimate_volume;\n   msg.actual_cycle_time = msg.payload_pre.actual_cycle_time;\n   msg.mobility = msg.payload_pre.mobility;\n   msg.current_part_no = msg.payload_pre.current_part_no;\n   msg.standard_cycle_time = msg.payload_pre.standard_cycle_time;\n   msg.target_cycle_time = msg.payload_pre.target_cycle_time;\n   msg.run_time_part = msg.payload_pre.run_time_part;\n   msg.mobility_part = msg.payload_pre.mobility_part;\n   msg.stop_count = msg.payload_pre.stop_count;\n}\nelse{\n    if(global.get(\"g_language\") == \"Japanese\") {\n        equipment_name = msg.payload_tmp.equipment_name;\n        sts = msg.payload_tmp.sts;\n    }\n    else {\n        equipment_name =  global.get(\"g_equipment_name_e\");\n        if(msg.payload_tmp.sts == \"稼働\") sts = \"Actual\";\n        else if(msg.payload_tmp.sts == \"停止\") sts = \"Stop\";\n        else if(msg.payload_tmp.sts == \"警報\") sts = \"Alarm\";\n        else sts = msg.payload_tmp.sts;\n    }\n\n   msg.date_time = msg.payload_tmp.date_time;\n   msg.equipment_name = equipment_name;\n   msg.equipment_no = msg.payload_tmp.equipment_no;\n   msg.sts = sts;\n   msg.run_time = msg.payload_tmp.run_time;\n   msg.off_time = msg.payload_tmp.off_time;\n   msg.alarm_count = msg.payload_tmp.alarm_count;\n   msg.start_day = msg.payload_tmp.start_day;\n   msg.start_time = msg.payload_tmp.start_time;\n   msg.end_time = msg.payload_tmp.end_time;\n   msg.standard_volume = msg.payload_tmp.standard_volume;\n   msg.target_volume = msg.payload_tmp.target_volume;\n   msg.volume = msg.payload_tmp.volume;\n   msg.estimate_volume = msg.payload_tmp.estimate_volume;\n   msg.actual_cycle_time = msg.payload_tmp.actual_cycle_time;\n   msg.mobility = msg.payload_tmp.mobility;\n   msg.current_part_no = msg.payload_tmp.current_part_no;\n   msg.standard_cycle_time = msg.payload_tmp.standard_cycle_time;\n   msg.target_cycle_time = msg.payload_tmp.target_cycle_time;\n   msg.run_time_part = msg.payload_tmp.run_time_part;\n   msg.mobility_part = msg.payload_tmp.mobility_part;\n   msg.stop_count = msg.payload_tmp.stop_count;\n}\n\nmsg.payload = \n   msg.date_time + \",\" +\n   msg.equipment_name + \",\" + \n   msg.equipment_no + \",\" +\n   msg.sts + \",\" +\n   msg.run_time + \",\" + \n   msg.off_time + \",\" + \n   msg.alarm_count + \",\" + \n   msg.start_day + \",\" + \n   msg.start_time + \",\" + \n   msg.end_time + \",\" + \n   msg.standard_volume + \",\" + \n   msg.target_volume + \",\" + \n   msg.volume + \",\" + \n   msg.estimate_volume + \",\" + \n   msg.actual_cycle_time + \",\" + \n   msg.mobility + \",\" + \n   msg.current_part_no + \",\" + \n   msg.standard_cycle_time + \",\" + \n   msg.target_cycle_time + \",\" + \n   msg.run_time_part + \",\" + \n   msg.mobility_part + \",\" +\n   msg.stop_count; \n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":640,"wires":[["52786d9d.8a0964"]]},{"id":"a872869c.069f68","type":"inject","z":"7f862bf4.5c4854","name":"毎日AM4:30起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 04 * * *","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["6caa8fce.96e71"]]},{"id":"bc5ecf78.e5314","type":"change","z":"7f862bf4.5c4854","name":"設備番号設定","rules":[{"t":"set","p":"equipment_no","pt":"msg","to":"g_equipment_no","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":140,"wires":[["7cd824c6.f5896c"]]},{"id":"314eec4b.941034","type":"comment","z":"7f862bf4.5c4854","name":"from B","info":"","x":490,"y":300,"wires":[]},{"id":"9c2ef222.e1003","type":"comment","z":"7f862bf4.5c4854","name":"to B","info":"","x":1090,"y":480,"wires":[]},{"id":"38915b.b17aaea6","type":"comment","z":"7f862bf4.5c4854","name":"to B","info":"","x":1250,"y":540,"wires":[]},{"id":"52786d9d.8a0964","type":"switch","z":"7f862bf4.5c4854","name":"","property":"payload_pre.current_part_no","propertyType":"msg","rules":[{"t":"neq","v":"----","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":740,"wires":[["84ecbdad.d3e3f"],[]]},{"id":"84ecbdad.d3e3f","type":"switch","z":"7f862bf4.5c4854","name":"","property":"payload_tmp.current_part_no","propertyType":"msg","rules":[{"t":"neq","v":"----","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":740,"wires":[["7bd717ab.466738","82a91420.e878a8","36e4a5b2.97ae4a","addf50f4.87fc9"],[]]},{"id":"a50ed2e7.8fc4a","type":"comment","z":"7f862bf4.5c4854","name":"最初のQRコード読み込み前レコードを省く","info":"","x":960,"y":700,"wires":[]},{"id":"759d40a9.88e13","type":"file","z":"7f862bf4.5c4854","name":"★CSVファイル出力","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":760,"y":1200,"wires":[[]]},{"id":"fe36425d.4d3a4","type":"function","z":"7f862bf4.5c4854","name":"★列名作成","func":"msg.payload = \n \"日時,\" + \n \"設備名,\" +\n \"設備番号,\" +\n \"稼働状況,\" +\n \"稼働時間積算,\" +\n \"稼働時間外積算,\" +\n \"警報回数,\" +\n \"加工開始日,\" +\n \"加工開始時刻,\" +\n \"加工終了時刻,\" +\n \"標準出来高,\" +\n \"目標出来高,\" +\n \"出来高,\" +\n \"積算出来高,\" +\n \"実績サイクルタイム,\" +\n \"可動率,加工品番,\" +\n \"標準サイクルタイム,\" +\n \"目標サイクルタイム,\" +\n \"稼働時間積算(加工品番別),\" +\n \"可動率(加工品番別)\";\n \nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1200,"wires":[["759d40a9.88e13"]]},{"id":"6caa8fce.96e71","type":"function","z":"7f862bf4.5c4854","name":"ファイル名取得","func":"var dir = global.get(\"g_edge_base_dir\");\nvar date = new Date();\nvar d = date.getFullYear();\n\nmsg.filename = dir + \"/ExtractData\" + d + \".csv\";\nflow.set(\"csv_filename\", msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["bc5ecf78.e5314"]]},{"id":"82a91420.e878a8","type":"change","z":"7f862bf4.5c4854","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"g_server_ip","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":900,"wires":[["229daf6f.36725"]]},{"id":"36e4a5b2.97ae4a","type":"debug","z":"7f862bf4.5c4854","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1180,"y":740,"wires":[]},{"id":"a355c82e.8cf158","type":"tcp request","z":"7f862bf4.5c4854","server":"","port":"49602","out":"sit","splitc":" ","name":"","x":1390,"y":900,"wires":[[]]},{"id":"229daf6f.36725","type":"function","z":"7f862bf4.5c4854","name":"TCP送信データ作成 JSON形式","func":"var txdata;\n\ntxdata = \"{\";\ntxdata += '\"date_time\":' + '\"' + msg.date_time + '\"' + \",\";\ntxdata += '\"equipment_name\":' + '\"' + msg.equipment_name + '\"' + \",\";\ntxdata += '\"equipment_no\":' + '\"' + msg.equipment_no + '\"' + \",\";\ntxdata += '\"sts\":' + '\"' + msg.sts + '\"' + \",\";\ntxdata += '\"run_time\":' + msg.run_time + \",\";\ntxdata += '\"off_time\":' + msg.off_time + \",\";\ntxdata += '\"alarm_count\":' + msg.alarm_count + \",\";\ntxdata += '\"start_day\":' + '\"' + msg.start_day + '\"' + \",\";\ntxdata += '\"start_time\":' + '\"' + msg.start_time + '\"' + \",\";\ntxdata += '\"end_time\":' + '\"' + msg.end_time + '\"' + \",\";\ntxdata += '\"standard_volume\":' + msg.standard_volume + \",\";\ntxdata += '\"target_volume\":' + msg.target_volume + \",\";\ntxdata += '\"volume\":' + msg.volume + \",\";\ntxdata += '\"estimate_volume\":' + msg.estimate_volume + \",\";\ntxdata += '\"actual_cycle_time\":' + msg.actual_cycle_time + \",\";\ntxdata += '\"mobility\":' + msg.mobility + \",\";\ntxdata += '\"current_part_no\":' + '\"' + msg.current_part_no + '\"' + \",\";\ntxdata += '\"standard_cycle_time\":' + '\"' + msg.standard_cycle_time + '\"' + \",\";\ntxdata += '\"target_cycle_time\":' + '\"' + msg.target_cycle_time + '\"' + \",\";\ntxdata += '\"run_time_part\":' + '\"' + msg.run_time_part + '\"' + \",\";\ntxdata += '\"mobility_part\":' + '\"' + msg.mobility_part + '\"' + \",\";\ntxdata += '\"stop_count\":' + '\"' + msg.stop_count + '\"';\ntxdata += \"}\";\n\nmsg.payload = txdata;\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":900,"wires":[["a355c82e.8cf158"]]},{"id":"f06212e3.64088","type":"function","z":"7f862bf4.5c4854","name":"最終レコードのepoch time取得","func":"msg.payload = \"select epoch_time from OperationStatus\";\nmsg.payload += \" \" + \"where\";\nmsg.payload += \" \" + \"id = (select max(id) from OperationStatus\";\nmsg.payload += \" \" + \"where\";\nmsg.payload += \" \" + \"equipment_no IN ('\" + msg.equipment_no + \"'));\";\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["124ae6e9.1007a9"]]},{"id":"ee03b5fa.3969d8","type":"function","z":"7f862bf4.5c4854","name":"データ取得SQL作成","func":"msg.payload = \"select date_time, equipment_name, equipment_no, sts, run_time, off_time, alarm_count, start_day, start_time, end_time, standard_volume, target_volume, volume, estimate_volume, actual_cycle_time, mobility, current_part_no, run_time_part, mobility_part, stop_count, epoch_time from OperationStatus\";\nmsg.payload += \" \" + \"where\";\nmsg.payload += \" \" + \"equipment_no IN ('\" + msg.equipment_no + \"')\";\nmsg.payload += \" \" + \"LIMIT 1 OFFSET \" + msg.offset + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":260,"wires":[["7790a60e.932a18"]]},{"id":"b2831b56.9dc028","type":"function","z":"7f862bf4.5c4854","name":"データ取得SQL作成","func":"msg.payload = \"select standard_cycle_time, target_cycle_time from ExternalInput\";\nmsg.payload += \" \" + \"where\";\nmsg.payload += \" \" + \"equipment_no IN ('\" + msg.equipment_no + \"') and\";\nmsg.payload += \" \" + \"part_no IN ('\" + msg.current_part_no10 + \"');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":420,"wires":[["f435c364.1fb9f"]]},{"id":"addf50f4.87fc9","type":"function","z":"7f862bf4.5c4854","name":"DB更新","func":"msg.payload = \"insert into AnalysisData (date_time, equipment_name, equipment_no, sts, run_time, off_time, alarm_count, start_day, start_time, end_time, standard_volume, target_volume, volume, estimate_volume, actual_cycle_time, mobility, current_part_no, standard_cycle_time, target_cycle_time, run_time_part, mobility_part, stop_count) values(\" +\n              \"'\" + msg.date_time + \"'\" + \",\" +\n              \"'\" + msg.equipment_name + \"'\" + \",\" +\n              \"'\" + msg.equipment_no + \"'\" + \",\" +\n              \"'\" + msg.sts + \"'\" + \",\" +\n              \"'\" + msg.run_time + \"'\" + \",\" +\n              \"'\" + msg.off_time + \"'\" + \",\" + \n              \"'\" + msg.alarm_count + \"'\" + \",\" + \n              \"'\" + msg.start_day + \"'\" + \",\" + \n              \"'\" + msg.start_time + \"'\" + \",\" +\n              \"'\" + msg.end_time + \"'\" + \",\" +\n              \"'\" + msg.standard_volume + \"'\" + \",\" +\n              \"'\" + msg.target_volume + \"'\" + \",\" +\n              \"'\" + msg.volume + \"'\" + \",\" +\n              \"'\" + msg.estimate_volume + \"'\" + \",\" +\n              \"'\" + msg.actual_cycle_time + \"'\" + \",\" +\n              \"'\" + msg.mobility + \"'\" + \",\" +\n              \"'\" + msg.current_part_no + \"'\" + \",\" +\n              \"'\" + msg.standard_cycle_time + \"'\" + \",\" +\n              \"'\" + msg.target_cycle_time + \"'\" + \",\" +\n              \"'\" + msg.run_time_part + \"'\" + \",\" +\n              \"'\" + msg.mobility_part + \"'\" + \",\" +\n              \"'\" + msg.stop_count + \"'\" +\n              \")\";\n              \nreturn msg;","outputs":1,"noerr":0,"x":880,"y":860,"wires":[["47e51aec.c307a4","e377f6ee.c6cde8"]]},{"id":"47e51aec.c307a4","type":"debug","z":"7f862bf4.5c4854","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":960,"wires":[]},{"id":"60083578.44c55c","type":"inject","z":"34d18a87.5340b6","name":"3秒後","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"3","x":130,"y":360,"wires":[["b870b73f.82a5d8"]]},{"id":"b870b73f.82a5d8","type":"change","z":"34d18a87.5340b6","name":"システム開始フラグセット","rules":[{"t":"set","p":"f_system_start_flag","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":360,"wires":[[]]},{"id":"1a774385.04e46c","type":"switch","z":"34d18a87.5340b6","name":"システム開始フラグチェック","property":"f_system_start_flag","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":780,"wires":[["664a60cb.6f38b"]]},{"id":"c26ac4c1.185828","type":"file in","z":"34d18a87.5340b6","name":"","filename":"/home/RMS/qrcode.txt","format":"utf8","chunk":false,"sendError":false,"x":590,"y":120,"wires":[["2c3aa1e9.225a7e"]]},{"id":"2c3aa1e9.225a7e","type":"change","z":"34d18a87.5340b6","name":"加工品番設定flow","rules":[{"t":"set","p":"f_part_no","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":120,"wires":[[]]},{"id":"23131efd.9f69f2","type":"function","z":"34d18a87.5340b6","name":"入力設定(加工品番以外)","func":"msg.red = '2';\nmsg.yellow = '2';\nmsg.blue = '2';\nmsg.sensor = '2';\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1040,"wires":[["4c36c987.1f2c18"]]},{"id":"ec32817c.e600b","type":"change","z":"34d18a87.5340b6","name":"加工品番設定","rules":[{"t":"set","p":"part_no","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":411.00001525878906,"y":1038.6666984558105,"wires":[["cf841e31.ecdde"]]},{"id":"3b68c5e9.5712ba","type":"inject","z":"34d18a87.5340b6","name":"★AM8:00イベント","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"x":154.99998474121094,"y":1080,"wires":[["28e309b8.f66d36"]]},{"id":"cf841e31.ecdde","type":"change","z":"34d18a87.5340b6","name":"★加工品番設定flow","rules":[{"t":"set","p":"f_part_no","pt":"flow","to":"part_no","tot":"msg"},{"t":"set","p":"pre_cnt","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1040,"wires":[["c8b2782d.0872d8"]]},{"id":"28e309b8.f66d36","type":"function","z":"34d18a87.5340b6","name":"★加工品番設定処理","func":"var part_no = flow.get(\"f_part_no\");\n\n// AM8:00経過フラグ設定\nflow.set(\"f_am8\", 1);\n\n//加工品番入力済み\nif(part_no != \"----\"){\n  msg.part_no = part_no;\n  return msg;\n}\n//加工品番未入力\nelse {\n  // 何もしない\n}\n","outputs":1,"noerr":0,"x":440,"y":1080,"wires":[["bf42556d.1a7568"]]},{"id":"f097d02f.f0d06","type":"file","z":"34d18a87.5340b6","name":"","filename":"/home/RMS/qrcode.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":450,"y":1000,"wires":[[]]},{"id":"3fceb7d0.3435f8","type":"inject","z":"34d18a87.5340b6","name":"QRコード読込み","topic":"","payload":"6L72020200-0410-1-1000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"5","x":130,"y":1000,"wires":[["82765de9.2f192"]]},{"id":"ce1ff002.bfc09","type":"inject","z":"34d18a87.5340b6","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"10","x":210,"y":620,"wires":[["56c63e50.a9e73"]]},{"id":"a97476b1.a11ec8","type":"inject","z":"34d18a87.5340b6","name":"デバッグ用","topic":"","payload":"1","payloadType":"str","repeat":"120","crontab":"","once":true,"onceDelay":"120","x":320,"y":680,"wires":[["39a74dee.9cfde2"]]},{"id":"e120490c.b6d7f8","type":"debug","z":"34d18a87.5340b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":1140,"wires":[]},{"id":"3ffaccf0.1db3b4","type":"switch","z":"34d18a87.5340b6","name":"","property":"sensor","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":720,"wires":[["c25b67b6.f0afe8"],[]]},{"id":"c8b2782d.0872d8","type":"function","z":"34d18a87.5340b6","name":"AM8:00以降判断","func":"var date = new Date();\nvar hour = date.getHours();\n//msg.hour = hour;\n\nif(hour >= 8){\n    return msg;\n}\nelse{\n    //ここで終わり\n}","outputs":1,"noerr":0,"x":855.0000152587891,"y":1040,"wires":[["23131efd.9f69f2"]]},{"id":"913b10cd.56842","type":"debug","z":"a17d6158.78172","name":"DB問合せ結果出力","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":940,"y":220,"wires":[]},{"id":"d439ab1b.8da488","type":"comment","z":"a17d6158.78172","name":"OperationStatusテーブルの作成・削除","info":"初回システム起動時に1度だけ実行して、\nデータベースを作成する\n","x":215.996031165123,"y":53.232309341430664,"wires":[]},{"id":"7c8c4473.a12ddc","type":"comment","z":"a17d6158.78172","name":"OperationStatusテーブルの入力","info":"","x":235,"y":1779.999994277954,"wires":[]},{"id":"cca80ac8.6ebbb8","type":"function","z":"a17d6158.78172","name":"基本情報作成(Piで作成済)","func":"return msg;","outputs":1,"noerr":0,"x":595,"y":1879.999994277954,"wires":[["c7c52094.80ab4"]]},{"id":"6be6ddb8.19af74","type":"link in","z":"a17d6158.78172","name":"▶データ処理","links":["664a60cb.6f38b","fde0da31.2f6c48"],"x":150,"y":1879.999994277954,"wires":[["b074b576.bbb248","58273e80.9629b"]]},{"id":"398dd53e.4d161a","type":"function","z":"a17d6158.78172","name":"設備稼働状況作成","func":"var sts = msg.payload.sts;\n\nmsg.start_process_flag = \"0\";\n// 稼働・停止・警報\nmsg.current_part_no10 = msg.current_part_no.substr(0,10); //先頭10文字\nif(msg.current_part_no10 != \"----\"){\n    // 赤消灯時に青点灯の処理->稼働状態にする\n    if(msg.blue == 1) flow.set(\"f_blue_pre\", 1);\n    else if(msg.blue == \"0\") flow.set(\"f_blue_pre\", 0);\n    if(msg.red == \"0\"){\n      if(flow.get(\"f_blue_pre\") == 1){\n        msg.blue = 1;\n      }\n    }\n\n    if(msg.red == 1){\n      msg.sts = \"警報\";\n      flow.set(\"f_operation_flag\", 0);\n    }\n    else if(msg.blue == 1) {\n      msg.sts = \"稼働\";\n      flow.set(\"f_stop_msg_time\", 0); // 停止時間カウンタリセット\n      flow.set(\"f_stop_msg\", \"---\");\n      if((msg.start_time == \"0\") || (msg.start_time == \"--:--:--\")){\n          msg.start_process_flag = 1;\n      }\n      flow.set(\"f_operation_flag\", 1);\n    }\n    else if((msg.red == \"0\") || (msg.blue == \"0\")){\n      msg.sts = \"停止\";\n      msg.stop_count += 1;\n      flow.set(\"f_operation_flag\", 0);\n    }\n    else {\n      msg.sts = sts;\n    }\n}\nelse {\n    msg.sts = sts;\n}\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":1939.999994277954,"wires":[["a9eef03c.cd37f"]]},{"id":"8e58edb8.d93f2","type":"function","z":"a17d6158.78172","name":"生産状況作成","func":"var date_time;\n\nmsg.part_no10 = msg.part_no.substr(0,10); //先頭10文字\n\n// ★QRコード読み込み時の処理\nif(msg.part_no10 != \"----\"){\n  var part_no = msg.part_no;\n  var current_part_no10 = msg.current_part_no.substr(0,10);\n  \n  if(msg.part_no10 == current_part_no10){\n    // 品番の先頭10文字が同じ場合、出来高は継続する\n    msg.current_part_no = part_no;\n    msg.current_part_no10 = part_no.substr(0,10);\n  }\n  else{\n    // 加工終了時刻\n    msg.end_time = \"--:--:--\";\n    // 加工品番\n    msg.current_part_no = part_no;\n    msg.current_part_no10 = part_no.substr(0,10);\n\n    // 加工品番読込みで出来高リセット\n    msg.volume = 0;\n    \n    // 加工品番読込みで加工品番別稼働時間積算リセット\n    msg.run_time_part = 0;\n\n\t// ★加工品番別経過時間リセット\n\tmsg.elapsed_time_part = 0;\n\t// ★標準出来高、目標出来高を保存する\n\tmsg.standard_volume_pre = msg.standard_volume;\n\tmsg.target_volume_pre = msg.target_volume;\n\t// 標準/目標出来高カウント状態をQR読込みに設定\n\tmsg.volume_cnt_status = 1;\n  }\n}\n\n// 加工開始時刻設定\nif(((msg.part_no10 != \"----\") && (msg.sts == \"稼働\")) || (msg.start_process_flag == 1)){\n    date_time = msg.date_time;\n    // 加工開始日\n    msg.start_day = date_time.substr(0, 4) + '/' +\n                    date_time.substr(4, 2) + '/' +\n                    date_time.substr(6, 2);\n    // 加工開始時刻\n    msg.start_time = date_time.substr(9, 8);\n}\n// 加工開始時刻クリア\nif((msg.part_no10 != \"----\") && (msg.sts != \"稼働\")){\n    date_time = msg.date_time;\n    // 加工開始日\n    msg.start_day = date_time.substr(0, 4) + '/' +\n                    date_time.substr(4, 2) + '/' +\n                    date_time.substr(6, 2);\n    // 加工開始時刻\n    msg.start_time = \"--:--:--\";\n}\n\n\nmsg.part_no = msg.current_part_no;\nmsg.part_no10 = msg.current_part_no.substr(0,10);\nflow.set(\"part_no10\", msg.part_no10);\n\n// 加工終了時刻(稼働から稼働以外に変化)\nif((msg.sts != \"稼働\") && (msg.payload.sts == \"稼働\")){\n    msg.end_time = msg.date_time.substr(9,8);\n    // 停止タイマカウンタ初期化フラグ設定\n    flow.set(\"f_time_of_stop_flag\", 1);\n}\nelse if((msg.sts == \"停止\") || (msg.sts == \"警報\")){\n    flow.set(\"f_time_of_stop_flag\", 1);\n}\nelse if(msg.sts == msg.payload.sts){\n\t// 何もしない\n}\nelse {\n    // 停止タイマカウンタ初期化フラグクリア\n    flow.set(\"f_time_of_stop_flag\", 0);\n\t// 停止時間メッセージカウンタ実行フラグ設定\n\tflow.set(\"f_stop_msg_time_exec_flag\", 1);\n    // ★異常停止時間積算ONフラグクリア\n    flow.set(\"f_alarm_off_time_flag\", 0);\n}\n\n// for 停止メッセージ表示\nif(msg.sts == \"警報\"){\n\tvar stop_msg_time = flow.get(\"f_stop_msg_time\");\n    var f_stop_msg_time_exec_flag = flow.get(\"f_stop_msg_time_exec_flag\");\n\n    // ★異常停止時間積算ONフラグセット\n    flow.set(\"f_alarm_off_time_flag\", 1);\n\n\tif((stop_msg_time === 0) && (f_stop_msg_time_exec_flag == 1)){\n\t\t// 停止時間メッセージカウンタセット\n\t\tflow.set(\"f_stop_msg_time\", global.get(\"g_stop_msg_time\"));\n\t}\n\telse{\n\t\t// カウント中の場合は、なにもしない\n\t}\n}\n\n// 標準出来高\n//msg.standard_volume = 0;\n\n// 目標出来高\n//msg.target_volume = 0;\n\n// 実績サイクルタイム\nmsg.actual_cycle_time = 0;\n\n// 可動率\nmsg.mobility = 0;\n\n// 加工品番別可動率\nmsg.mobility_part = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":555,"y":1999.999994277954,"wires":[["a8437aea.05ef78"]]},{"id":"a9eef03c.cd37f","type":"function","z":"a17d6158.78172","name":"設備稼働状況データ更新","func":"var epoch_time = msg.payload.epoch_time;\nvar sts = msg.payload.sts;\nvar run_time = msg.payload.run_time;\nvar off_time = msg.payload.off_time;\nvar alarm_off_time = msg.payload.alarm_off_time;\nvar alarm_count = msg.payload.alarm_count;\nvar estimate_run_time = 0;\nvar estimate_off_time = 0;\nvar estimate_alarm_off_time = 0;\nvar diff_time = 0;\nNumber(epoch_time);\nNumber(run_time);\nNumber(off_time);\nNumber(alarm_off_time);\nNumber(alarm_count);\n\n// 稼働時間の差分を求める\nestimate_run_time = run_time;\nestimate_off_time = off_time;\nestimate_alarm_off_time = alarm_off_time;\n\nif(epoch_time == \"0\") {\n    diff_time = 0;              // 初期状態\n}\nelse {\n    diff_time = msg.epoch_time - epoch_time;\n}\n\n// ★加工品番別経過時間を更新する\nif(msg.volume_cnt_status == 2){\n  msg.elapsed_time_part = msg.elapsed_time_part + diff_time;\n}\n\nif(sts == \"稼働\") {             // 前回の状態変化時に稼働状況\n    estimate_run_time = run_time + diff_time;\n    // 加工品番別稼働時間積算\n    msg.run_time_part = msg.run_time_part + diff_time;  \n}\nelse if(sts == \"停止\") {\n    // 作業時間外は積算しない\n    if(msg.volume_cnt_status == 2){\n        estimate_off_time = off_time + diff_time;\n    }\n}\n//★異常停止時間積算\nif(flow.get(\"f_alarm_off_time_flag\") == 1){\n\testimate_alarm_off_time = alarm_off_time + diff_time;\n}\n\nmsg.run_time = estimate_run_time;\nmsg.off_time = estimate_off_time;\nmsg.alarm_off_time = estimate_alarm_off_time;\n\n// epoch to time (run_time)\nvar time = new Date(estimate_run_time);\nvar ss = time.getTime();\n    ss /= 1000;\n    t = ('0' + parseInt(ss/(60 * 60))).slice(-2) + ':';\n    t += ('0' + parseInt(((ss / 60) % 60))).slice(-2) + ':';\n    t += ('0' + parseInt(ss % 60)).slice(-2);\nmsg.run_time_display = t;\n\n// epoch to time (off_time)\nvar time = new Date(estimate_off_time);\nvar ss = time.getTime();\n    ss /= 1000;\n    t = ('0' + parseInt(ss/(60 * 60))).slice(-2) + ':';\n    t += ('0' + parseInt(((ss / 60) % 60))).slice(-2) + ':';\n    t += ('0' + parseInt(ss % 60)).slice(-2);\nmsg.off_time_display = t;\n\n// ★epoch to time (alarm_off_time)\nvar time = new Date(estimate_alarm_off_time);\nvar ss = time.getTime();\n    ss /= 1000;\n    t = ('0' + parseInt(ss/(60 * 60))).slice(-2) + ':';\n    t += ('0' + parseInt(((ss / 60) % 60))).slice(-2) + ':';\n    t += ('0' + parseInt(ss % 60)).slice(-2);\nmsg.alarm_off_time_display = t;\n\n// 警報回数更新\nif(msg.sts == \"警報\") {         // 稼働状況が警報\n    if(sts != \"警報\") {         // 前回は警報でない\n        alarm_count += 1;\n    }\n}\nmsg.alarm_count = alarm_count;\n    \nreturn msg;","outputs":1,"noerr":0,"x":815,"y":1939.999994277954,"wires":[["8e58edb8.d93f2"]]},{"id":"fd31251.ba652d8","type":"function","z":"a17d6158.78172","name":"DB初期値入力1","func":"var date = new Date();\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2) + ' ';\nd += ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.date_time = d;\nvar equipment_name = global.get(\"g_equipment_name\");\nvar equipment_no = global.get(\"g_equipment_no\");\n\nmsg.payload = \"insert into OperationStatus (date_time, equipment_name, equipment_no, sts, run_time, off_time, alarm_count, start_day, start_time, end_time, standard_volume, target_volume, volume, actual_cycle_time, mobility, current_part_no, estimate_volume, run_time_part, mobility_part, elapsed_time_part, standard_volume_pre, target_volume_pre, volume_cnt_status, stop_count, standard_cycle_time, target_cycle_time, part_no, run_time_disp, off_time_disp, alarm_off_time, alarm_off_time_disp, stop_msg, sts_num, sts_graph, date_time_graf, epoch_time) values(\" + \n\"'\" + msg.date_time + \"'\" + \", \" + \n\"'\" + equipment_name + \"'\" + \", \" +\n\"'\" + equipment_no + \"'\" + \", \" +\n\"'\" + \"--\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"----\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + msg.date_time + \"'\" + \", \" + \n\"'\" + \"0\" + \"'\" +\n\")\";\n\nreturn msg;","outputs":1,"noerr":0,"x":545,"y":219.9999942779541,"wires":[["3e26119a.33a14e","60d23dd5.f60f44"]]},{"id":"a35e000b.2404f","type":"change","z":"a17d6158.78172","name":"代入","rules":[{"t":"set","p":"payload.epoch_time","pt":"msg","to":"payload.0.epoch_time","tot":"msg"},{"t":"set","p":"payload.sts","pt":"msg","to":"payload.0.sts","tot":"msg"},{"t":"set","p":"payload.run_time","pt":"msg","to":"payload.0.run_time","tot":"msg"},{"t":"set","p":"payload.off_time","pt":"msg","to":"payload.0.off_time","tot":"msg"},{"t":"set","p":"payload.alarm_count","pt":"msg","to":"payload.0.alarm_count","tot":"msg"},{"t":"set","p":"volume","pt":"msg","to":"payload.0.volume","tot":"msg"},{"t":"set","p":"current_part_no","pt":"msg","to":"payload.0.current_part_no","tot":"msg"},{"t":"set","p":"start_day","pt":"msg","to":"payload.0.start_day","tot":"msg"},{"t":"set","p":"start_time","pt":"msg","to":"payload.0.start_time","tot":"msg"},{"t":"set","p":"end_time","pt":"msg","to":"payload.0.end_time","tot":"msg"},{"t":"set","p":"estimate_volume","pt":"msg","to":"payload.0.estimate_volume","tot":"msg"},{"t":"set","p":"run_time_part","pt":"msg","to":"payload.0.run_time_part","tot":"msg"},{"t":"set","p":"mobility_part","pt":"msg","to":"payload.0.mobility_part","tot":"msg"},{"t":"set","p":"elapsed_time_part","pt":"msg","to":"payload.0.elapsed_time_part","tot":"msg"},{"t":"set","p":"standard_volume_pre","pt":"msg","to":"payload.0.standard_volume_pre","tot":"msg"},{"t":"set","p":"target_volume_pre","pt":"msg","to":"payload.0.target_volume_pre","tot":"msg"},{"t":"set","p":"standard_volume","pt":"msg","to":"payload.0.standard_volume","tot":"msg"},{"t":"set","p":"target_volume","pt":"msg","to":"payload.0.target_volume","tot":"msg"},{"t":"set","p":"volume_cnt_status","pt":"msg","to":"payload.0.volume_cnt_status","tot":"msg"},{"t":"set","p":"stop_count","pt":"msg","to":"payload.0.stop_count","tot":"msg"},{"t":"set","p":"payload.alarm_off_time","pt":"msg","to":"payload.0.alarm_off_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1880,"wires":[["398dd53e.4d161a","5bc261e.886baa"]]},{"id":"967d6476.49c318","type":"function","z":"a17d6158.78172","name":"DB更新","func":"msg.payload = \"insert into OperationStatus (date_time, equipment_name, equipment_no, sts, run_time, off_time, alarm_count, start_day, start_time, end_time, standard_volume, target_volume, volume, actual_cycle_time, mobility, current_part_no, estimate_volume, run_time_part, mobility_part, elapsed_time_part, standard_volume_pre, target_volume_pre, volume_cnt_status, stop_count, standard_cycle_time, target_cycle_time, part_no, run_time_disp, off_time_disp, alarm_off_time, alarm_off_time_disp, stop_msg, sts_num, sts_graph, date_time_graf, epoch_time) values(\" + \n\"'\" + msg.date_time + \"'\" + \", \" + \n\"'\" + msg.equipment_name + \"'\" + \", \" +\n\"'\" + msg.equipment_no + \"'\" + \", \" +\n\"'\" + msg.sts + \"'\" + \", \" +\n\"'\" + msg.run_time + \"'\" + \", \" +\n\"'\" + msg.off_time + \"'\" + \", \" +\n\"'\" + msg.alarm_count + \"'\" + \", \" +\n\"'\" + msg.start_day + \"'\" + \", \" +\n\"'\" + msg.start_time + \"'\" + \", \" +\n\"'\" + msg.end_time + \"'\" + \", \" +\n\"'\" + msg.standard_volume + \"'\" + \", \" +\n\"'\" + msg.target_volume + \"'\" + \", \" +\n\"'\" + msg.volume + \"'\" + \", \" +\n\"'\" + msg.actual_cycle_time + \"'\" + \", \" +\n\"'\" + msg.mobility + \"'\" + \", \" +\n\"'\" + msg.current_part_no + \"'\" + \", \" +\n\"'\" + msg.estimate_volume + \"'\" + \", \" +\n\"'\" + msg.run_time_part + \"'\" + \", \" +\n\"'\" + msg.mobility_part + \"'\" + \", \" +\n\"'\" + msg.elapsed_time_part + \"'\" + \", \" +\n\"'\" + msg.standard_volume_pre + \"'\" + \", \" +\n\"'\" + msg.target_volume_pre + \"'\" + \", \" +\n\"'\" + msg.volume_cnt_status + \"'\" + \", \" +\n\"'\" + msg.stop_count + \"'\" + \", \" +\n\"'\" + msg.standard_cycle_time + \"'\" + \", \" +\n\"'\" + msg.target_cycle_time + \"'\" + \", \" +\n\"'\" + msg.part_no + \"'\" + \", \" +\n\"'\" + msg.run_time_disp + \"'\" + \", \" +\n\"'\" + msg.off_time_disp + \"'\" + \", \" +\n\"'\" + msg.alarm_off_time + \"'\" + \", \" +\n\"'\" + msg.alarm_off_time_disp + \"'\" + \", \" +\n\"'\" + msg.stop_msg + \"'\" + \", \" +\n\"'\" + msg.sts_num + \"'\" + \", \" +\n\"'\" + msg.sts_graph + \"'\" + \", \" +\n\"'\" + msg.date_time + \"'\" + \", \" +\n\"'\" + msg.epoch_time + \"'\"  +\n\")\";\n\nreturn msg;","outputs":1,"noerr":0,"x":815,"y":2139.999994277954,"wires":[["bf48e5fe.29ae98"]]},{"id":"ea7a71be.c7a47","type":"function","z":"a17d6158.78172","name":"設備稼働状況データ更新","func":"var run_time = msg.run_time;\nvar standard_cycle_time = msg.standard_cycle_time;\nvar target_cycle_time = msg.target_cycle_time;\nvar equipment_name = msg.equipment_name;\nvar standard_volume = msg.standard_volume;\nvar target_volume = msg.target_volume;\nvar l_volume = msg.volume;\nvar l_estimate_volume = msg.estimate_volume;\n\n// QRコード読込み＆稼働状態\nif(msg.volume_cnt_status == 2){\n  // ★標準出来高、目標出来高を求める\n  if((standard_cycle_time != \"0\") && (target_cycle_time != \"0\")){\n\tstandard_volume = ((msg.elapsed_time_part/1000) / standard_cycle_time) + msg.standard_volume_pre;\n\ttarget_volume = ((msg.elapsed_time_part/1000) / target_cycle_time) + msg.target_volume_pre;\n  }\n}\nmsg.standard_volume = parseInt(standard_volume);\nmsg.target_volume = parseInt(target_volume);\nrun_time = run_time / 1000;             // msec -> sec\n\nif(msg.current_part_no10 != \"----\"){\n  if(msg.sts == \"稼働\"){\n    msg.volume_cnt_status = 2;  // QRコード読込み＆稼働状態\n  }\n  if((msg.sensor == \"1\") && ((msg.sts == \"稼働\")||(msg.sts == \"警報\"))){    // 2019.4.19\n  \tif((equipment_name == \"ブローチ盤\") || (equipment_name == \"マシニングセンター\")) {\n      \tl_volume += 2;\n      \tl_estimate_volume += 2;\n\t}\n  \telse if((equipment_name == \"電解バリトリ\")) {\n      \tl_volume += 4;\n      \tl_estimate_volume += 4;\n\t}\n\telse {\n    \tl_volume += 1;\n    \tl_estimate_volume += 1;\n\t}\n  }\n  // AM8:00以前のカウンタ反映\n  if((equipment_name == \"ブローチ盤\") || (equipment_name == \"マシニングセンター\")) {\n    l_volume += (msg.pre_cnt * 2);\n    l_estimate_volume += (msg.pre_cnt * 2);\n  }\n  else if((equipment_name == \"電解バリトリ\")) {\n    l_volume += (msg.pre_cnt * 4);\n    l_estimate_volume += (msg.pre_cnt * 4);\n  }\n  else {\n   \tl_volume += (msg.pre_cnt * 1);\n   \tl_estimate_volume += (msg.pre_cnt * 1);\n  }\n}\n\nmsg.volume = l_volume;\nmsg.estimate_volume = l_estimate_volume;\n\nmsg.mobility = 0;\nmsg.actual_cycle_time = 0;\nif(standard_volume > 0){\n    msg.mobility = ((l_estimate_volume / standard_volume) * 100);\n}\nif(l_volume > 0){\n//    msg.actual_cycle_time = (run_time / l_estimate_volume);\n    msg.actual_cycle_time = ((msg.elapsed_time_part/1000) / l_volume);\n}\n\n// 加工品番別可動率の計算★\nmsg.mobility_part = 0;\nvar standard_volume_part = ((msg.elapsed_time_part/1000) / standard_cycle_time);\nif(standard_volume_part > 0){\n    msg.mobility_part = ((l_volume / standard_volume_part) * 100);\n}\n\n// 12:05イベント\nif(msg.t1205_1300 == \"1205\"){\n  flow.set(\"flag_1205_1300\", 1);    // 2019.4.19\n  if(msg.sts == \"停止\"){\n    msg.volume_cnt_status = 1;\n//    flow.set(\"flag_1205_1300\", 1);    2019.4.19\n  }\n}\n// 13:00イベント\nelse if(msg.t1205_1300 == \"1300\"){\n  flow.set(\"flag_1205_1300\", 0);\n  if(msg.current_part_no10 != \"----\"){\n    msg.volume_cnt_status = 2;\n  }\n}\n// 12:05-13:00の間に停止イベント\nif(flow.get(\"flag_1205_1300\") == 1){\n  if(msg.blue == \"0\"){      // 停止\n    msg.volume_cnt_status = 1;\n  }\n}\n\n// data for Grafana \nmsg.standard_cycle_time = flow.get(\"standard_cycle_time\");\nmsg.target_cycle_time = flow.get(\"target_cycle_time\");\nmsg.stop_msg = flow.get(\"f_stop_msg\");\nmsg.part_no = flow.get(\"part_no10\");\n\n// 稼働・停止\nif(msg.sts == \"稼働\") {\n    msg.sts_num = 1;\n    msg.sts_graph = 1;\n}\nelse if(msg.sts == \"警報\"){\n    msg.sts_num = 2;\n    msg.sts_graph = 0;\n}\nelse {\n    msg.sts_num = 0;\n    msg.sts_graph = 0;\n}\n\n// Epoch⇒時間表記\nvar date = new Date(msg.run_time);\ndate.setTime(date.getTime() - 1000*60*60*9);\nvar d = ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.run_time_disp = d;\n\nvar date = new Date(msg.off_time);\ndate.setTime(date.getTime() - 1000*60*60*9);\nvar d = ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.off_time_disp = d;\n\n//★異常停止時間積算\nvar date = new Date(msg.alarm_off_time);\ndate.setTime(date.getTime() - 1000*60*60*9);\nvar d = ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.alarm_off_time_disp = d;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":595,"y":2139.999994277954,"wires":[["967d6476.49c318"]]},{"id":"4ff13668.9c49e8","type":"change","z":"a17d6158.78172","name":"代入","rules":[{"t":"set","p":"standard_cycle_time","pt":"msg","to":"payload.0.standard_cycle_time","tot":"msg"},{"t":"set","p":"target_cycle_time","pt":"msg","to":"payload.0.target_cycle_time","tot":"msg"},{"t":"set","p":"standard_cycle_time","pt":"flow","to":"payload.0.standard_cycle_time","tot":"msg"},{"t":"set","p":"target_cycle_time","pt":"flow","to":"payload.0.target_cycle_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":2000,"wires":[["4bc865f4.82e9fc","12dd619b.f28e0e"]]},{"id":"d17c62ea.1d736","type":"file","z":"a17d6158.78172","name":"レコードの追記","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1045,"y":2199.999994277954,"wires":[[]]},{"id":"edc402e6.a46e3","type":"comment","z":"a17d6158.78172","name":"CSVファイルの列名作成","info":"","x":225,"y":3278.999994277954,"wires":[]},{"id":"5ed70ac5.801244","type":"comment","z":"a17d6158.78172","name":"ExternalInputテーブル作成・削除","info":"","x":255,"y":1199.999994277954,"wires":[]},{"id":"9019b246.85ae4","type":"link in","z":"a17d6158.78172","name":"▶サイクルタイム入力","links":["5234a723.b30bb8"],"x":250,"y":1299.999994277954,"wires":[["c8e51312.f85f4"]]},{"id":"957e8eb7.cb245","type":"inject","z":"a17d6158.78172","name":"OperationStatusテーブル削除(起動時)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":255,"y":99.9999942779541,"wires":[["f7d146ed.0296b8"]]},{"id":"6d3644d1.35bf1c","type":"function","z":"a17d6158.78172","name":"ファイル名取得","func":"msg.filename = flow.get(\"csv_filename\");\n\nreturn msg;","outputs":1,"noerr":0,"x":805,"y":2199.999994277954,"wires":[["d17c62ea.1d736"]]},{"id":"635f0336.cc0bcc","type":"inject","z":"a17d6158.78172","name":"テーブル作成の起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":195,"y":159.9999942779541,"wires":[["3b3fdafc.584326"]]},{"id":"ebc79dcb.71f26","type":"function","z":"a17d6158.78172","name":"ファイル名作成","func":"var dir = global.get(\"g_edge_base_dir\");\nvar equipment_no = global.get(\"g_equipment_no\");\n\nvar date = new Date();\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2);\n\nmsg.filename = dir + \"/\" + equipment_no + \"_\" + d + \".csv\";\nflow.set(\"csv_filename\", msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":3218.999994277954,"wires":[["d0a3ccc8.2ac3b"]]},{"id":"5bba63a6.e9b7ec","type":"comment","z":"a17d6158.78172","name":"CSVファイルのファイル名作成","info":"","x":255,"y":3158.999994277954,"wires":[]},{"id":"1a235f55.a3cec1","type":"inject","z":"a17d6158.78172","name":"CSVファイル名作成(起動時)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"3","x":305,"y":3218.999994277954,"wires":[["ebc79dcb.71f26"]]},{"id":"a97d79d2.1f4e58","type":"file","z":"a17d6158.78172","name":"BOMをファイル出力","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1235,"y":3218.999994277954,"wires":[[]]},{"id":"d0a3ccc8.2ac3b","type":"function","z":"a17d6158.78172","name":"UTF-8 BOM作成","func":"//UTF-8のBOM(0xEF 0xBB 0xBF)をファイルの先頭に書き込む\nmsg.payload = { \"BOM1\": 239, \"BOM2\": 187, \"BOM3\": 191 };\n\nreturn msg;","outputs":1,"noerr":0,"x":785,"y":3218.999994277954,"wires":[["ef95d52c.a723e8"]]},{"id":"ef95d52c.a723e8","type":"binary","z":"a17d6158.78172","name":"BOM binary data","pattern":"b8 => BOM1, b8 => BOM2, b8 => BOM3","x":1005,"y":3218.999994277954,"wires":[["a97d79d2.1f4e58"]]},{"id":"aa58812b.32b64","type":"inject","z":"a17d6158.78172","name":"テーブル作成の起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":255,"y":1359.999994277954,"wires":[["c8c36cbc.bb174"]]},{"id":"bec24ff6.5fb02","type":"template","z":"a17d6158.78172","name":"CSVファイル名設定","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/RMS/CSV/cycle_time.csv","output":"str","x":435,"y":1439.999994277954,"wires":[["5852dc9a.37dd64"]]},{"id":"5852dc9a.37dd64","type":"file in","z":"a17d6158.78172","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":625,"y":1439.999994277954,"wires":[["ae0106e2.6e4528"]]},{"id":"875d96c4.139048","type":"change","z":"a17d6158.78172","name":"","rules":[{"t":"set","p":"equipment_no","pt":"msg","to":"payload.col1","tot":"msg"},{"t":"set","p":"part_no","pt":"msg","to":"payload.col2","tot":"msg"},{"t":"set","p":"standard_cycle_time","pt":"msg","to":"payload.col3","tot":"msg"},{"t":"set","p":"target_cycle_time","pt":"msg","to":"payload.col4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":935,"y":1439.999994277954,"wires":[["a90394da.0dccf8","7b5fb902.4ac8d8"]]},{"id":"ae0106e2.6e4528","type":"csv","z":"a17d6158.78172","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"1","x":765,"y":1439.999994277954,"wires":[["875d96c4.139048"]]},{"id":"6bd99885.9e5ea8","type":"function","z":"a17d6158.78172","name":"DB更新","func":"msg.payload = \"insert into ExternalInput (date_time, equipment_name, equipment_no, part_no, standard_cycle_time, target_cycle_time) values(\" + \n\"'\" + msg.date_time + \"'\" + \", \" + \n\"'\" + msg.equipment_name + \"'\" + \", \" +\n\"'\" + msg.equipment_no + \"'\" + \", \" +\n\"'\" + msg.part_no + \"'\" + \", \" +\n\"'\" + msg.standard_cycle_time + \"'\" + \", \" +\n\"'\" + msg.target_cycle_time + \"'\" +\n\")\";\n\nreturn msg;","outputs":1,"noerr":0,"x":555,"y":1499.999994277954,"wires":[["5edaacb8.e14df4"]]},{"id":"a90394da.0dccf8","type":"function","z":"a17d6158.78172","name":"日付設定","func":"var date = new Date();\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2) + ' ';\nd += ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.date_time = d;\n\nmsg.equipment_name = ' ';\n//msg.equipment_no = ' ';\n\nreturn msg;","outputs":1,"noerr":0,"x":399.9765167236328,"y":1499.9609375,"wires":[["6bd99885.9e5ea8"]]},{"id":"4f476d1b.eab894","type":"debug","z":"a17d6158.78172","name":"DB問合せ結果出力","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":1500,"wires":[]},{"id":"91973df.b2d8dc","type":"change","z":"a17d6158.78172","name":"サイクルタイム初期値","rules":[{"t":"set","p":"standard_cycle_time","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"target_cycle_time","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":325,"y":1879.999994277954,"wires":[["cca80ac8.6ebbb8"]]},{"id":"25bd089.097eef8","type":"inject","z":"a17d6158.78172","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":215,"y":1259.999994277954,"wires":[["c8e51312.f85f4"]]},{"id":"b074b576.bbb248","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":260,"y":1980,"wires":[]},{"id":"4bc865f4.82e9fc","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1445,"y":1999.999994277954,"wires":[]},{"id":"7b5fb902.4ac8d8","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1125,"y":1439.999994277954,"wires":[]},{"id":"abc4d736.fa6248","type":"comment","z":"a17d6158.78172","name":"サイクルタイムファイル処理","info":"","x":245,"y":3518.999994277954,"wires":[]},{"id":"d6561b7c.5b4428","type":"file","z":"a17d6158.78172","name":"","filename":"/home/RMS/CSV/cycle_time.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":495,"y":3598.999994277954,"wires":[["d8887263.f41d6"]]},{"id":"22004d7.66dceb2","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":435,"y":3638.999994277954,"wires":[]},{"id":"c196622b.fe991","type":"function","z":"a17d6158.78172","name":"データレコード生成","func":"var equipment_name = msg.equipment_name;\nvar sts = msg.sts;\n\nif(global.get(\"g_language\") == \"English\") {\n    equipment_name =  global.get(\"g_equipment_name_e\");\n    if(msg.sts == \"稼働\") sts = \"Actual\";\n    else if(msg.sts == \"停止\") sts = \"Stop\";\n    else if(msg.sts == \"警報\") sts = \"Alarm\";\n}\n\nmsg.payload = msg.date_time +\n        \",\" + equipment_name +\n        \",\" + msg.equipment_no +\n        \",\" + sts +\n        \",\" + msg.run_time_display +\n        \",\" + msg.off_time_display +\n        \",\" + msg.alarm_count +\n        \",\" + msg.start_day +\n        \",\" + msg.start_time +\n        \",\" + msg.end_time +\n        \",\" + msg.standard_volume +\n        \",\" + msg.target_volume +\n        \",\" + msg.volume +\n        \",\" + msg.estimate_volume +\n        \",\" + msg.actual_cycle_time +\n        \",\" + msg.mobility +\n        \",\" + msg.current_part_no +\n        \",\" + msg.standard_cycle_time +\n        \",\" + msg.target_cycle_time +\n        \",\" + msg.run_time_part +\n        \",\" + msg.mobility_part +\n        \",\" + msg.stop_count +\n        \",\" + msg.red +\n        \",\" + msg.yellow +\n        \",\" + msg.blue +\n        \",\" + msg.sensor + \"\\n\";\n\nreturn msg;","outputs":1,"noerr":0,"x":575,"y":2199.999994277954,"wires":[["6d3644d1.35bf1c"]]},{"id":"5234a723.b30bb8","type":"link out","z":"a17d6158.78172","name":"サイクルタイム出力▶","links":["9019b246.85ae4"],"x":850,"y":3599.999994277954,"wires":[]},{"id":"e121dce5.257e7","type":"catch","z":"a17d6158.78172","name":"","scope":["f7d146ed.0296b8"],"x":1035,"y":99.9999942779541,"wires":[["3b3fdafc.584326"]]},{"id":"d29c34c3.3f9128","type":"catch","z":"a17d6158.78172","name":"","scope":["7904113b.ae7f9"],"x":1055,"y":1839.999994277954,"wires":[[]]},{"id":"5f2582d9.d1c09c","type":"inject","z":"a17d6158.78172","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"１","x":225,"y":2939.999994277954,"wires":[["d0b8d368.6eac3"]]},{"id":"3b82d16d.3ac09e","type":"comment","z":"a17d6158.78172","name":"停止時間メッセージ表示処理","info":"","x":245,"y":2828.999994277954,"wires":[]},{"id":"d0b8d368.6eac3","type":"function","z":"a17d6158.78172","name":"カウントアップ判定","func":"var stop_msg_time = flow.get(\"f_stop_msg_time\");\nvar f_stop_msg_time_exec_flag = flow.get(\"f_stop_msg_time_exec_flag\");\n\nif((f_stop_msg_time_exec_flag == 1) && (stop_msg_time > 0)){\n    // 停止中\n    stop_msg_time -= 1; // カウントダウン\n    flow.set(\"f_stop_msg_time\", stop_msg_time);\n    if(stop_msg_time === 0){\n        // カウントアップ\n        flow.set(\"f_stop_msg_time_exec_flag\", 0);\n        return msg;\n    }\n}\n\n//return msg;   // なし","outputs":1,"noerr":0,"x":435,"y":2939.999994277954,"wires":[["3e2955aa.e81aaa","98592aed.f95da8"]]},{"id":"3e2955aa.e81aaa","type":"change","z":"a17d6158.78172","name":"","rules":[{"t":"set","p":"f_stop_msg","pt":"flow","to":"設備停止：状況確認を行ってください。","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":675,"y":2919.999994277954,"wires":[["4450b6c9.164ed8"]]},{"id":"98592aed.f95da8","type":"function","z":"a17d6158.78172","name":"mail本文作成(停止)","func":"var mess = global.get(\"g_equipment_no\");\nmess += \":\";\nmess += \"設備が停止しています。状況確認を行ってください。\";\n\nmsg.message = mess;\n\nmsg.topic = \"[RMS]メッセージ\";\n\n// アラーム停止フラグ設定\nflow.set(\"alarm_stop_flg\", 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":2959.999994277954,"wires":[["1f926099.31b1df"]]},{"id":"a5402606.bad488","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":995,"y":3039.999994277954,"wires":[]},{"id":"24ec1434.c520dc","type":"inject","z":"a17d6158.78172","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":225,"y":2879.999994277954,"wires":[["a126b8c6.880668"]]},{"id":"f7d146ed.0296b8","type":"function","z":"a17d6158.78172","name":"OperationStatusテーブル削除","func":"msg.payload = \"drop table OperationStatus;\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":585,"y":99.9999942779541,"wires":[["45855bbf.dc8e54"]]},{"id":"3b3fdafc.584326","type":"function","z":"a17d6158.78172","name":"OperationStatusテーブル作成","func":"msg.payload = \"create table OperationStatus ( id SERIAL,  date_time text, equipment_name text, equipment_no text, sts text, run_time integer, off_time integer, alarm_count integer, start_day text, start_time text, end_time text, standard_volume integer, target_volume integer, volume integer, actual_cycle_time real, mobility real, current_part_no text, estimate_volume integer, run_time_part integer, mobility_part real, elapsed_time_part integer, standard_volume_pre integer, target_volume_pre integer, volume_cnt_status integer, stop_count integer, standard_cycle_time real, target_cycle_time real, part_no text, run_time_disp text, off_time_disp text, alarm_off_time integer, alarm_off_time_disp text, stop_msg text, sts_num integer, sts_graph integer, date_time_graf timestamp, epoch_time BIGINT, primary key (id));\"\n\nreturn msg;","outputs":1,"noerr":0,"x":585,"y":159.9999942779541,"wires":[["dafb0e16.eddb8"]]},{"id":"c8e51312.f85f4","type":"function","z":"a17d6158.78172","name":"ExternalInputテーブル削除","func":"msg.payload = \"drop table ExternalInput;\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":515,"y":1299.999994277954,"wires":[["d0084a16.618808"]]},{"id":"c8c36cbc.bb174","type":"function","z":"a17d6158.78172","name":"ExternalInputテーブル作成","func":"msg.payload = \"create table ExternalInput ( id SERIAL,  date_time text, equipment_name text, equipment_no text, part_no text, standard_cycle_time real, target_cycle_time real, primary key (id));\"\n\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":1359.999994277954,"wires":[["934ee1eb.e64df"]]},{"id":"c7c52094.80ab4","type":"function","z":"a17d6158.78172","name":"データ取得SQL作成","func":"//msg.equipment_no = \"NC61\";\n\nmsg.payload = \"select equipment_name, epoch_time, sts, run_time, off_time, alarm_count, volume, current_part_no, start_day, start_time, end_time, estimate_volume, run_time_part, mobility_part, elapsed_time_part, standard_volume_pre, target_volume_pre, standard_volume, target_volume, volume_cnt_status, stop_count, alarm_off_time from OperationStatus\";\nmsg.payload += \" \" + \"where\";\nmsg.payload += \" \" +\"id = (select max(id) from OperationStatus\";\nmsg.payload += \" \" + \"where\";\nmsg.payload += \" \" + \"equipment_no IN ('\" + msg.equipment_no + \"'));\";\n\nreturn msg;","outputs":1,"noerr":0,"x":855,"y":1879.999994277954,"wires":[["1c74119b.e5ab7e"]]},{"id":"a8437aea.05ef78","type":"function","z":"a17d6158.78172","name":"データ取得SQL作成","func":"msg.payload = \"select standard_cycle_time, target_cycle_time from ExternalInput\";\nmsg.payload += \" \" + \"where\";\nmsg.payload += \" \" + \"(equipment_no IN ('\" + msg.equipment_no + \"')\";\nmsg.payload += \" \" + \"AND\";\nmsg.payload += \" \" + \"part_no IN ('\" + msg.part_no10 + \"'));\";\n\nreturn msg;","outputs":1,"noerr":0,"x":795,"y":1999.999994277954,"wires":[["d5faf7d0.9e73f8"]]},{"id":"edaa681c.c59be8","type":"comment","z":"a17d6158.78172","name":"AnalysisDataテーブル","info":"","x":215,"y":1599.999994277954,"wires":[]},{"id":"9d793a05.4b0528","type":"function","z":"a17d6158.78172","name":"テーブル削除","func":"msg.payload = \"drop table AnalysisData;\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":415,"y":1659.999994277954,"wires":[["97f82a1c.8a0a98"]]},{"id":"21aec4a3.d9af1c","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":815,"y":1659.999994277954,"wires":[]},{"id":"c27e98fd.8ff1d8","type":"inject","z":"a17d6158.78172","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":235,"y":1659.999994277954,"wires":[["9d793a05.4b0528"]]},{"id":"df37ce61.3c99d","type":"function","z":"a17d6158.78172","name":"テーブル作成","func":"msg.payload = \"create table AnalysisData ( id SERIAL, date_time timestamp, equipment_name text, equipment_no text, sts text, run_time integer, off_time integer, alarm_count integer, start_day text, start_time text, end_time text, standard_volume integer, target_volume integer, volume integer, estimate_volume integer, actual_cycle_time real, mobility real, current_part_no text, standard_cycle_time real, target_cycle_time real, run_time_part text, mobility_part text, stop_count integer, primary key (id));\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":415,"y":1699.999994277954,"wires":[["e37fa967.8540c8"]]},{"id":"43d12763.00e278","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":815,"y":1699.999994277954,"wires":[]},{"id":"c62eeab5.ca6cb8","type":"inject","z":"a17d6158.78172","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":235,"y":1699.999994277954,"wires":[["df37ce61.3c99d"]]},{"id":"bdc4ebd1.ad12b8","type":"comment","z":"a17d6158.78172","name":"リブート処理","info":"","x":185,"y":3798.999994277954,"wires":[]},{"id":"7cf262a5.56ca0c","type":"inject","z":"a17d6158.78172","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"x":245,"y":3858.999994277954,"wires":[["da5fec36.f7ab9"]]},{"id":"da5fec36.f7ab9","type":"exec","z":"a17d6158.78172","command":"sudo /sbin/reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RPiリブート","x":485,"y":3858.999994277954,"wires":[[],[],[]]},{"id":"2d504718.cde578","type":"function","z":"a17d6158.78172","name":"TCP送信データ作成 JSON形式","func":"var txdata;\n\nmsg.time_of_stop = flow.get(\"f_time_of_stop\");\ntxdata = \"{\";\ntxdata += '\"equipment_no\":' + '\"' + msg.equipment_no + '\"' + \",\";\ntxdata += '\"sts\":' + '\"' + msg.sts + '\"' + \",\";\ntxdata += '\"end_time\":' + '\"' + msg.end_time + '\"' + \",\";\ntxdata += '\"mobility\":' + '\"' + msg.mobility + '\"' + \",\";\ntxdata += '\"part_no\":' + '\"' + msg.part_no + '\"' + \",\";\ntxdata += '\"volume\":' + '\"' + msg.volume + '\"' + \",\";\ntxdata += '\"red\":' + '\"' + msg.red + '\"' + \",\";\ntxdata += '\"yellow\":' + '\"' + msg.yellow + '\"' + \",\";\ntxdata += '\"blue\":' + '\"' + msg.blue + '\"' + \",\";\ntxdata += '\"time_of_stop\":' + '\"' + msg.time_of_stop + '\"';\ntxdata += \"}\";\n\nmsg.payload = txdata;\n\nreturn msg;","outputs":1,"noerr":0,"x":815,"y":2259.999994277954,"wires":[["5f5ddb8.babd524","68d2de1.73c0d2","d36409b5.91ce48"]]},{"id":"f345ac08.a1b39","type":"change","z":"a17d6158.78172","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"g_server_ip","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":555,"y":2259.999994277954,"wires":[["2d504718.cde578"]]},{"id":"5f5ddb8.babd524","type":"tcp request","z":"a17d6158.78172","server":"","port":"49600","out":"immed","splitc":" ","name":"","x":1065,"y":2259.999994277954,"wires":[[]]},{"id":"68d2de1.73c0d2","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"time_of_stop","x":1065,"y":2319.999994277954,"wires":[]},{"id":"28129057.acb0e","type":"comment","z":"a17d6158.78172","name":"停止時間カウントタイマ処理","info":"","x":245,"y":2448.999994277954,"wires":[]},{"id":"60d6829d.317a4c","type":"inject","z":"a17d6158.78172","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":225,"y":2508.999994277954,"wires":[["dd98032a.dad33"]]},{"id":"dd98032a.dad33","type":"change","z":"a17d6158.78172","name":"","rules":[{"t":"set","p":"f_time_of_stop_flag","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"f_time_of_stop","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"f_update_time","pt":"flow","to":"g_update_time","tot":"global"},{"t":"set","p":"f_operation_flag","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":2508.999994277954,"wires":[[]]},{"id":"221f0b3f.818924","type":"inject","z":"a17d6158.78172","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"4","x":225,"y":2588.999994277954,"wires":[["c471ab34.d0f4a8","b5f0d9b5.ac4478"]]},{"id":"862b40f3.d2431","type":"switch","z":"a17d6158.78172","name":"","property":"f_time_of_stop_flag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":405,"y":2688.999994277954,"wires":[["5fd2f44.8c7030c"],["ce4b7be0.613d18"]]},{"id":"5fd2f44.8c7030c","type":"function","z":"a17d6158.78172","name":"カウントアップ","func":"var time_of_stop = flow.get(\"f_time_of_stop\");\n\n// 停止時間更新\ntime_of_stop += parseInt(global.get(\"g_update_time\"));\nflow.set(\"f_time_of_stop\", time_of_stop);\nmsg.time_of_stop = time_of_stop;\n\nreturn msg;","outputs":1,"noerr":0,"x":585,"y":2668.999994277954,"wires":[["c23a9c84.172b1"]]},{"id":"c23a9c84.172b1","type":"change","z":"a17d6158.78172","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"g_server_ip","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":795,"y":2668.999994277954,"wires":[["55920325.56145c"]]},{"id":"55920325.56145c","type":"function","z":"a17d6158.78172","name":"TCP送信データ作成 JSON形式","func":"var txdata;\nvar equipment_no = global.get(\"g_equipment_no\");\n\ntxdata = \"{\";\ntxdata += '\"equipment_no\":' + '\"' + equipment_no + '\"' + \",\";\ntxdata += '\"time_of_stop\":' + '\"' + msg.time_of_stop + '\"';\ntxdata += \"}\";\n\nmsg.payload = txdata;\n\nreturn msg;","outputs":1,"noerr":0,"x":1055,"y":2668.999994277954,"wires":[["ae2cec73.5a433","90704cd8.0d4c9"]]},{"id":"ae2cec73.5a433","type":"tcp request","z":"a17d6158.78172","server":"","port":"49603","out":"immed","splitc":" ","name":"","x":1305,"y":2668.999994277954,"wires":[[]]},{"id":"90704cd8.0d4c9","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1235,"y":2728.999994277954,"wires":[]},{"id":"ce4b7be0.613d18","type":"change","z":"a17d6158.78172","name":"タイマカウンタクリア","rules":[{"t":"set","p":"f_time_of_stop","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"time_of_stop","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":605,"y":2708.999994277954,"wires":[[]]},{"id":"c471ab34.d0f4a8","type":"function","z":"a17d6158.78172","name":"タイムアップ判断","func":"var update_time = flow.get(\"f_update_time\");\n\nif(update_time <= 0){\n    // カウントアップ\n    update_time = global.get(\"g_update_time\");\n    flow.set(\"f_update_time\", update_time);\n    return msg;\n}\nelse{\n    update_time -= 1;   //  カウントダウン\n    flow.set(\"f_update_time\", update_time);\n}\n","outputs":1,"noerr":0,"x":425,"y":2628.999994277954,"wires":[["862b40f3.d2431"]]},{"id":"ed7aa9ce.937db8","type":"inject","z":"a17d6158.78172","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"3","x":225,"y":2548.999994277954,"wires":[["823b5d56.de5ac"]]},{"id":"823b5d56.de5ac","type":"change","z":"a17d6158.78172","name":"起動時に停止タイマをクリア","rules":[{"t":"set","p":"time_of_stop","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":465,"y":2548.999994277954,"wires":[["c23a9c84.172b1"]]},{"id":"b5f0d9b5.ac4478","type":"switch","z":"a17d6158.78172","name":"稼働判定","property":"f_operation_flag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":395,"y":2588.999994277954,"wires":[["90c3df4e.7fbce"]]},{"id":"90c3df4e.7fbce","type":"change","z":"a17d6158.78172","name":"停止タイマをクリア","rules":[{"t":"set","p":"time_of_stop","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"f_operation_flag","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":595,"y":2588.999994277954,"wires":[["c23a9c84.172b1"]]},{"id":"4f9c64d6.0f44bc","type":"tcp in","z":"a17d6158.78172","name":"","server":"server","host":"","port":"49601","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":235,"y":3598.999994277954,"wires":[["d6561b7c.5b4428","22004d7.66dceb2"]]},{"id":"12dd619b.f28e0e","type":"switch","z":"a17d6158.78172","name":"standard_cycle_time未設定","property":"payload.0.standard_cycle_time","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":595,"y":2079.999994277954,"wires":[["69017869.17a588"],["1b122cc2.80ff53"]]},{"id":"69017869.17a588","type":"change","z":"a17d6158.78172","name":"代入","rules":[{"t":"set","p":"standard_cycle_time","pt":"msg","to":"99999","tot":"num"},{"t":"set","p":"standard_cycle_time","pt":"flow","to":"99999","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":825,"y":2059.999994277954,"wires":[["1b122cc2.80ff53"]]},{"id":"1b122cc2.80ff53","type":"switch","z":"a17d6158.78172","name":"target_cycle_time未設定","property":"payload.0.target_cycle_time","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1045,"y":2079.999994277954,"wires":[["585d81d2.4efa7"],["22066fe.f24c19"]]},{"id":"585d81d2.4efa7","type":"change","z":"a17d6158.78172","name":"代入","rules":[{"t":"set","p":"target_cycle_time","pt":"msg","to":"99999","tot":"num"},{"t":"set","p":"target_cycle_time","pt":"flow","to":"99999","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1245,"y":2059.999994277954,"wires":[["22066fe.f24c19"]]},{"id":"22066fe.f24c19","type":"function","z":"a17d6158.78172","name":"結合","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1385,"y":2079.999994277954,"wires":[["ea7a71be.c7a47"]]},{"id":"a546dffe.d0e4f","type":"function","z":"a17d6158.78172","name":"TCP送信データ作成 JSON形式","func":"var txdata;\n\ntxdata = \"{\";\ntxdata += '\"topic\":' + '\"' + msg.topic + '\"' + \",\";\ntxdata += '\"message\":' + '\"' + msg.message + '\"';\ntxdata += \"}\";\n\nmsg.payload = txdata;\n\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":2999.999994277954,"wires":[["f6fc34a3.3ec038","a5402606.bad488"]]},{"id":"f6fc34a3.3ec038","type":"tcp request","z":"a17d6158.78172","server":"","port":"49604","out":"immed","splitc":" ","name":"","x":985,"y":2999.999994277954,"wires":[[]]},{"id":"1f926099.31b1df","type":"change","z":"a17d6158.78172","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"g_server_ip","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":2960,"wires":[["a546dffe.d0e4f"]]},{"id":"d8887263.f41d6","type":"delay","z":"a17d6158.78172","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":735,"y":3599.999994277954,"wires":[["5234a723.b30bb8","1d990f2e.e27151"]]},{"id":"37469fe1.8296a","type":"inject","z":"a17d6158.78172","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":245,"y":1839.999994277954,"wires":[["3c3dafa8.aa2de"]]},{"id":"3c3dafa8.aa2de","type":"change","z":"a17d6158.78172","name":"","rules":[{"t":"set","p":"f_blue_pre","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"f_alarm_off_time_flag","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":455,"y":1839.999994277954,"wires":[[]]},{"id":"5bc261e.886baa","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1245,"y":1819.999994277954,"wires":[]},{"id":"8f25696d.bad2b8","type":"file","z":"a17d6158.78172","name":"サイクルタイムファイル削除","filename":"/home/RMS/CSV/cycle_time.csv","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":905,"y":3639.999994277954,"wires":[[]]},{"id":"1d990f2e.e27151","type":"delay","z":"a17d6158.78172","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":665,"y":3639.999994277954,"wires":[["8f25696d.bad2b8"]]},{"id":"39c07157.befc1e","type":"comment","z":"a17d6158.78172","name":"次回のためにサイクルタイムファイル削除","info":"サイクルタイムファイルが1パケットを超える場合の\nために、ファイルへの書き込みは追記にしている。\n従って、ExternalInputテーブルへの書き込みが終了\nしたであろう30秒後にファイルを削除する。","x":905,"y":3679.999994277954,"wires":[]},{"id":"e55cef82.25aac","type":"file","z":"a17d6158.78172","name":"CSVファイル出力","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1145,"y":3359.999994277954,"wires":[[]]},{"id":"c4b29830.981e88","type":"function","z":"a17d6158.78172","name":"ファイル名取得","func":"msg.filename = flow.get(\"csv_filename\");\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":3358.999988555908,"wires":[["43691ebe.5f66c"]]},{"id":"340c422c.903e6e","type":"inject","z":"a17d6158.78172","name":"CSV列名作成開始(起動時)","topic":"","payload":"{\"\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"4","x":290,"y":3358.999988555908,"wires":[["c4b29830.981e88"]]},{"id":"29b435b2.eb7bba","type":"function","z":"a17d6158.78172","name":"★列名作成 日本語","func":"msg.payload = \n  \"日時,\" +\n  \"設備名,\" +\n  \"設備番号,\" +\n  \"稼働状況,\" +\n  \"稼働時間積算,\" +\n  \"稼働時間外積算,\" +\n  \"警報回数,\" +\n  \"加工開始日,\" +\n  \"加工開始時刻,\" +\n  \"加工終了時刻,\" +\n  \"標準出来高,\" +\n  \"目標出来高,\" +\n  \"出来高,\" +\n  \"積算出来高,\" +\n  \"実績サイクルタイム,\" +\n  \"可動率,\" +\n  \"加工品番,\" +\n  \"標準サイクルタイム,\" +\n  \"目標サイクルタイム,\" +\n  \"稼働時間積算(加工品番別),\" +\n  \"可動率(加工品番別),\" +\n  \"停止回数,\" +\n  \"赤,\" +\n  \"黄,\" +\n  \"青,\" +\n  \"センサ\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":915,"y":3339.999994277954,"wires":[["e55cef82.25aac"]]},{"id":"43691ebe.5f66c","type":"switch","z":"a17d6158.78172","name":"","property":"g_language","propertyType":"global","rules":[{"t":"eq","v":"Japanese","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":725,"y":3359.999994277954,"wires":[["29b435b2.eb7bba"],["815b51d7.8b43f"]]},{"id":"815b51d7.8b43f","type":"function","z":"a17d6158.78172","name":"★列名作成 英語","func":"msg.payload = \n  \"date,\" +\n  \"name,\" +\n  \"no,\" +\n  \"status,\" +\n  \"run_time,\" +\n  \"off_time,\" +\n  \"alarm_count,\" +\n  \"start_day,\" +\n  \"start_time,\" +\n  \"end_time,\" +\n  \"standard_volume,\" +\n  \"target_volume,\" +\n  \"volume,\" +\n  \"estimate_volume,\" +\n  \"actual_cycle_time,\" +\n  \"mobility,\" +\n  \"part_no,\" +\n  \"standard_cycle_time,\" +\n  \"target_cycle_time,\" +\n  \"run_time_part,\" +\n  \"mobility_part,\" +\n  \"stop_count,\" +\n  \"red,\" +\n  \"yellow,\" +\n  \"blue,\" +\n  \"sensor\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":905,"y":3379.999994277954,"wires":[["e55cef82.25aac"]]},{"id":"a126b8c6.880668","type":"change","z":"a17d6158.78172","name":"","rules":[{"t":"set","p":"f_stop_msg","pt":"flow","to":"---","tot":"str"},{"t":"set","p":"f_stop_msg_time","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"f_stop_msg_time_exec_flag","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"alarm_stop_flg","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":2879.999994277954,"wires":[[]]},{"id":"4450b6c9.164ed8","type":"function","z":"a17d6158.78172","name":"ダミーデータ設定1/17変更","func":"// 0:OFF、1:ON、2:未入力\nmsg.red = '2';\nmsg.yellow = '2';\nmsg.blue = '2';\nmsg.sensor = '2';\n//AM8:00以前のカウンタを0にする\nmsg.pre_cnt = 0;\n\n// az10桁:パーツNO、----:未入力\nmsg.part_no = '----';\n\nvar date = new Date();\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2) + ' ';\nd += ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.date_time = d;\nmsg.epoch_time = Date.now();\n\nmsg.equipment_name = global.get(\"g_equipment_name\");\nmsg.equipment_no = global.get(\"g_equipment_no\");\nmsg.disp_no = global.get(\"g_disp_no\");\n\nreturn msg;","outputs":1,"noerr":0,"x":935,"y":2919.999994277954,"wires":[["fde0da31.2f6c48"]]},{"id":"fde0da31.2f6c48","type":"link out","z":"a17d6158.78172","name":"停止メッセージ表示▶","links":["6be6ddb8.19af74"],"x":1130,"y":2919.999994277954,"wires":[]},{"id":"7a0b0587.fc602c","type":"inject","z":"a17d6158.78172","name":"OperationStatusテーブル初期値設定(起動時)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":215,"y":219.9999942779541,"wires":[["fd31251.ba652d8"]]},{"id":"d5e4b8a4.486538","type":"inject","z":"a17d6158.78172","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"40 04 * * *","once":false,"onceDelay":"30","x":225,"y":4059.999994277954,"wires":[["3687a2b6.d2523e"]]},{"id":"fb005dee.0beec","type":"comment","z":"a17d6158.78172","name":"テーブルから1日前のデータ削除","info":"","x":255,"y":3999.999994277954,"wires":[]},{"id":"f2d6c9a0.6f4d08","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":840,"y":4100,"wires":[]},{"id":"d36409b5.91ce48","type":"function","z":"a17d6158.78172","name":"mail本文作成(稼働)","func":"if((msg.sts == \"稼働\") && (flow.get(\"alarm_stop_flg\") == 1)){\n    var mess = global.get(\"g_equipment_no\");\n    mess += \":\";\n    mess += \"設備が稼働しました。\";\n\n    msg.message = mess;\n\n    msg.topic = \"[RMS]メッセージ\";\n\n    flow.set(\"alarm_stop_flg\", 0);\n    return msg;\n}","outputs":1,"noerr":0,"x":780,"y":2320,"wires":[["1f926099.31b1df"]]},{"id":"b1a06720.73cf48","type":"inject","z":"ee0cd21d.ab777","name":"1分周期","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"10","x":170,"y":580,"wires":[["e7874b0a.9ea258"]]},{"id":"e7874b0a.9ea258","type":"function","z":"ee0cd21d.ab777","name":"分析データ保存処理判定","func":"var date = new Date();\nvar minute = date.getMinutes();\n\n\nif(minute == 59){   // 59分\n    return msg;\n}\nelse{\n    //ここで終わり\n}","outputs":1,"noerr":0,"x":420,"y":580,"wires":[["fa440d58.cbd0a"]]},{"id":"fa440d58.cbd0a","type":"function","z":"ee0cd21d.ab777","name":"データ取得SQL作成","func":"msg.equipment_no = global.get(\"g_equipment_no\");\n\nmsg.payload = \"select date_time, equipment_no, alarm_count, mobility from OperationStatus\";\nmsg.payload += \" \" + \"where\";\nmsg.payload += \" \" +\"id = (select max(id) from OperationStatus\";\nmsg.payload += \" \" + \"where\";\nmsg.payload += \" \" + \"equipment_no IN ('\" + msg.equipment_no + \"'));\";\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":640,"wires":[["7721ecf3.a22ce4"]]},{"id":"1d1d8908.636227","type":"change","z":"ee0cd21d.ab777","name":"代入","rules":[{"t":"set","p":"alarm_count","pt":"msg","to":"payload.0.alarm_count","tot":"msg"},{"t":"set","p":"mobility","pt":"msg","to":"payload.0.mobility","tot":"msg"},{"t":"set","p":"date_time","pt":"msg","to":"payload.0.date_time","tot":"msg"},{"t":"set","p":"equipment_no","pt":"msg","to":"payload.0.equipment_no","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":640,"wires":[["9495e4ea.1f0568"]]},{"id":"a96dbfa2.2a8f6","type":"function","z":"ee0cd21d.ab777","name":"DB更新","func":"msg.payload = \"insert into Ind_AnalysisData (date_time, equipment_no, alarm_count_per_hour, mobility_per_hour) values(\" +\n              \"'\" + msg.date_time + \"'\" + \",\" +\n              \"'\" + msg.equipment_no + \"'\" + \",\" +\n              \"'\" + msg.alarm_count_per_hour + \"'\" + \",\" + \n              \"'\" + msg.mobility_per_hour + \"'\" +\n              \")\";\n              \nreturn msg;","outputs":1,"noerr":0,"x":540,"y":700,"wires":[["dc74726.85b8c9","112fef77.2d4271"]]},{"id":"dc74726.85b8c9","type":"debug","z":"ee0cd21d.ab777","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":760,"wires":[]},{"id":"7695629a.ec096c","type":"inject","z":"ee0cd21d.ab777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":540,"wires":[["fa440d58.cbd0a"]]},{"id":"8c56f9ee.7d6cc8","type":"function","z":"ee0cd21d.ab777","name":"データ作成","func":"// 前回のアラームカウント取得\nlast_alarm_count = flow.get(\"f_last_alarm_count\");\n\nmsg.mobility_per_hour = msg.mobility;\nmsg.alarm_count_per_hour = msg.alarm_count;\nflow.set(\"f_last_alarm_count\", msg.alarm_count_per_hour);\n\n// 差分取得\nmsg.alarm_count_per_hour -= last_alarm_count;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":700,"wires":[["a96dbfa2.2a8f6"]]},{"id":"e92a5a27.ea4dc8","type":"inject","z":"ee0cd21d.ab777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["c26ca217.b8a41"]]},{"id":"20fb148b.ee106c","type":"comment","z":"ee0cd21d.ab777","name":"フロー変数初期化","info":"","x":110,"y":60,"wires":[]},{"id":"c26ca217.b8a41","type":"change","z":"ee0cd21d.ab777","name":"","rules":[{"t":"set","p":"f_last_alarm_count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":120,"wires":[[]]},{"id":"1f13a7fb.e9ac88","type":"comment","z":"ee0cd21d.ab777","name":"時間当たりの可動率、アラーム発生回数","info":"","x":200,"y":480,"wires":[]},{"id":"ab18a2ed.247ad","type":"comment","z":"ee0cd21d.ab777","name":"1日当たりのアラーム発生回数、停止時間、可動率","info":"","x":240,"y":860,"wires":[]},{"id":"c128acea.86bef","type":"inject","z":"ee0cd21d.ab777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"40 04 * * *","once":false,"onceDelay":0.1,"x":150,"y":920,"wires":[["dd109f6e.6437e"]]},{"id":"dd109f6e.6437e","type":"function","z":"ee0cd21d.ab777","name":"データ取得SQL作成","func":"msg.equipment_no = global.get(\"g_equipment_no\");\n\nmsg.payload = \"select date_time, equipment_no, alarm_count, mobility, off_time from OperationStatus\";\nmsg.payload += \" \" + \"where\";\nmsg.payload += \" \" +\"id = (select max(id) from OperationStatus\";\nmsg.payload += \" \" + \"where\";\nmsg.payload += \" \" + \"equipment_no IN ('\" + msg.equipment_no + \"'));\";\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":920,"wires":[["32af23a6.04352c"]]},{"id":"f35d2463.2c3398","type":"change","z":"ee0cd21d.ab777","name":"代入","rules":[{"t":"set","p":"alarm_count","pt":"msg","to":"payload.0.alarm_count","tot":"msg"},{"t":"set","p":"mobility","pt":"msg","to":"payload.0.mobility","tot":"msg"},{"t":"set","p":"date_time","pt":"msg","to":"payload.0.date_time","tot":"msg"},{"t":"set","p":"equipment_no","pt":"msg","to":"payload.0.equipment_no","tot":"msg"},{"t":"set","p":"off_time","pt":"msg","to":"payload.0.off_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":920,"wires":[["b4b346b0.a359f8","da4a01a3.edcd1"]]},{"id":"b4b346b0.a359f8","type":"debug","z":"ee0cd21d.ab777","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":920,"wires":[]},{"id":"e0c3654e.798518","type":"tcp request","z":"ee0cd21d.ab777","server":"","port":"49605","out":"immed","splitc":" ","name":"","x":970,"y":980,"wires":[[]]},{"id":"4928783b.67bb08","type":"change","z":"ee0cd21d.ab777","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"g_server_ip","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":980,"wires":[["428677d7.97f608"]]},{"id":"428677d7.97f608","type":"function","z":"ee0cd21d.ab777","name":"TCP送信データ作成 JSON形式","func":"var txdata;\n\ntxdata = \"{\";\ntxdata += '\"date_time\":' + '\"' + msg.date_time + '\"' + \",\";\ntxdata += '\"equipment_no\":' + '\"' + msg.equipment_no + '\"' + \",\";\ntxdata += '\"alarm_count\":' + '\"' + msg.alarm_count + '\"' + \",\";\ntxdata += '\"off_time\":' + '\"' + msg.off_time + '\"' + \",\";\ntxdata += '\"mobility\":' + '\"' + msg.mobility + '\"';\ntxdata += \"}\";\n\nmsg.payload = txdata;\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":980,"wires":[["e0c3654e.798518"]]},{"id":"da4a01a3.edcd1","type":"function","z":"ee0cd21d.ab777","name":"停止時間を分に変換","func":"msg.off_time = (msg.off_time / 1000) / 60\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":980,"wires":[["4928783b.67bb08"]]},{"id":"c56d46bb.7d8be8","type":"comment","z":"ee0cd21d.ab777","name":"Ind_AnalysisDataテーブル","info":"","x":140,"y":240,"wires":[]},{"id":"ec7979e6.cfe938","type":"function","z":"ee0cd21d.ab777","name":"テーブル削除","func":"msg.payload = \"drop table Ind_AnalysisData;\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["6101b9f6.5bade8"]]},{"id":"3ea87230.3a0b0e","type":"debug","z":"ee0cd21d.ab777","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":300,"wires":[]},{"id":"33186fc4.5f026","type":"inject","z":"ee0cd21d.ab777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":300,"wires":[["ec7979e6.cfe938"]]},{"id":"6be464cc.d49e9c","type":"function","z":"ee0cd21d.ab777","name":"テーブル作成","func":"msg.payload = \"create table Ind_AnalysisData ( id SERIAL, date_time timestamp, equipment_no text, mobility_per_hour real, alarm_count_per_hour integer, primary key (id));\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["60d1f6f3.8f5be8"]]},{"id":"eee35377.c7bf6","type":"debug","z":"ee0cd21d.ab777","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":340,"wires":[]},{"id":"22b40f50.44408","type":"inject","z":"ee0cd21d.ab777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":150,"y":340,"wires":[["6be464cc.d49e9c"]]},{"id":"9495e4ea.1f0568","type":"function","z":"ee0cd21d.ab777","name":"日時取得","func":"var date = new Date();\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2) + ' ';\nd += ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.date_time = d;\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":640,"wires":[["8c56f9ee.7d6cc8"]]},{"id":"de223d10.c127a","type":"switch","z":"34d18a87.5340b6","name":"AM8:00前","property":"f_am8","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":680,"wires":[["d70cb73b.9f8a98"]]},{"id":"d70cb73b.9f8a98","type":"function","z":"34d18a87.5340b6","name":"AM8:00以前のカウンタ処理","func":"if(msg.sensor == 1){\n    //AM8:00以前のカウンタをカウントする\n    var cnt = flow.get(\"f_pre_sensor_cnt\");\n    cnt++;\n    flow.set(\"f_pre_sensor_cnt\", cnt);\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1210,"y":680,"wires":[[]]},{"id":"bf42556d.1a7568","type":"change","z":"34d18a87.5340b6","name":"AM8:00以前のカウンタ設定","rules":[{"t":"set","p":"pre_cnt","pt":"msg","to":"f_pre_sensor_cnt","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1080,"wires":[["23131efd.9f69f2"]]},{"id":"3687a2b6.d2523e","type":"function","z":"a17d6158.78172","name":"1日前のエポックミリ秒","func":"var DATE = 1;      // 1日\nvar epoch_time = Date.now();\n\n// DATE日前のエポックミリ秒取得\ndt = epoch_time - (DATE*24*3600*1000);\n\n// DATE日前のエポックミリ秒\nmsg.dt = dt;\n\n//var date = new Date(dt);\n\n// 30日前の日付けを求める\n//var d = date.getFullYear();\n//d += ('0' + (date.getMonth() + 1)).slice(-2);\n//d += ('0' + date.getDate()).slice(-2) + ' ';\n//msg.date_time = d;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":4060,"wires":[["a4ed56fb.80f7e8"]]},{"id":"a4ed56fb.80f7e8","type":"function","z":"a17d6158.78172","name":"SQL分作成","func":"msg.payload = \"delete from OperationStatus \";\nmsg.payload += \"where epoch_time < \" + msg.dt + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":4060,"wires":[["f2d6c9a0.6f4d08","68f6daf3.31b0e4"]]},{"id":"5673dd88.dc4dd4","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":4060,"wires":[]},{"id":"3e26119a.33a14e","type":"debug","z":"a17d6158.78172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":280,"wires":[]},{"id":"59f63463.eda26c","type":"function","z":"a17d6158.78172","name":"DB初期値入力1","func":"var date = new Date();\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2) + ' ';\nd += ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.date_time = d;\nvar equipment_name = global.get(\"g_equipment_name\");\nvar equipment_no = global.get(\"g_equipment_no\");\n\nmsg.payload = \"insert into OperationStatus (date_time, equipment_name, equipment_no, sts, run_time, off_time, alarm_count, start_day, start_time, end_time, standard_volume, target_volume, volume, actual_cycle_time, mobility, current_part_no, estimate_volume, run_time_part, mobility_part, elapsed_time_part, standard_volume_pre, target_volume_pre, volume_cnt_status, stop_count, alarm_off_time, date_time_graf, epoch_time) values(\" + \n\"'\" + msg.date_time + \"'\" + \", \" + \n\"'\" + equipment_name + \"'\" + \", \" +\n\"'\" + equipment_no + \"'\" + \", \" +\n\"'\" + \"--\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"----\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + \"0\" + \"'\" + \", \" +\n\"'\" + msg.date_time + \"'\" + \", \" + \n\"'\" + \"0\" + \"'\" +\n\")\";\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":260,"wires":[[]]},{"id":"58273e80.9629b","type":"delay","z":"a17d6158.78172","name":"","pauseType":"rate","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":1940,"wires":[["91973df.b2d8dc"]]},{"id":"c5fc7188.94fa6","type":"function","z":"a17d6158.78172","name":"VolumeDisplayテーブル削除","func":"msg.payload = \"drop table VolumeDisplay;\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":520,"wires":[["5b0a803d.b49b7"]]},{"id":"8962117c.46f69","type":"comment","z":"a17d6158.78172","name":"出来高テーブルの作成・削除 (未使用)","info":"初回システム起動時に1度だけ実行して、\nデータベースを作成する\n","x":230,"y":440,"wires":[]},{"id":"27e920c0.d2cd4","type":"inject","z":"a17d6158.78172","name":"VolumeDIsplayテーブル削除(起動時)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":520,"wires":[["c5fc7188.94fa6"]]},{"id":"5e7a57e2.83e878","type":"inject","z":"a17d6158.78172","name":"テーブル作成の起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":580,"wires":[["eda6cb28.7d5a88"]]},{"id":"eda6cb28.7d5a88","type":"function","z":"a17d6158.78172","name":"VolumeDisplayテーブル作成","func":"msg.payload = \"create table VolumeDisplay ( id SERIAL,  date_time_graf timestamp, volume integer, primary key (id));\"\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":580,"wires":[["722a92e0.5705bc"]]},{"id":"aaf16372.1c268","type":"inject","z":"a17d6158.78172","name":"VolumeDisplayテーブル初期値設定(起動時)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":280,"y":640,"wires":[["c86b333a.94358"]]},{"id":"c86b333a.94358","type":"function","z":"a17d6158.78172","name":"VolumeDIsplay初期値入力1","func":"var date = new Date();\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2) + ' ';\nd += ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.date_time = d;\n\nmsg.payload = \"insert into VolumeDisplay (date_time_graf, volume) values(\" + \n\"'\" + msg.date_time + \"'\" + \", \" + \n\"'\" + \"0\" + \"'\" +\n\")\";\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":640,"wires":[["a1d9149b.ae0cf8"]]},{"id":"d64e272a.897a78","type":"inject","z":"a17d6158.78172","name":"EstimateVolumeDIsplayテーブル削除(起動時)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":720,"wires":[["93cb939d.8acc5"]]},{"id":"93cb939d.8acc5","type":"function","z":"a17d6158.78172","name":"EstimateVolumeDisplayテーブル削除","func":"msg.payload = \"drop table EstimateVolumeDisplay;\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":720,"wires":[["825043df.2574d"]]},{"id":"42c3c4f8.37e47c","type":"inject","z":"a17d6158.78172","name":"テーブル作成の起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":780,"wires":[["ae9aca8e.2a3048"]]},{"id":"ae9aca8e.2a3048","type":"function","z":"a17d6158.78172","name":"EstimateVolumeDisplayテーブル作成","func":"msg.payload = \"create table EstimateVolumeDisplay ( id SERIAL,  date_time_graf timestamp, estimate_volume integer, primary key (id));\"\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":780,"wires":[["54228959.b2dc48"]]},{"id":"f1be6a8a.15acf8","type":"inject","z":"a17d6158.78172","name":"EstimateVolumeDisplayテーブル初期値設定(起動時)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":310,"y":840,"wires":[["debd7a6a.699878"]]},{"id":"debd7a6a.699878","type":"function","z":"a17d6158.78172","name":"VolumeDIsplay初期値入力1","func":"var date = new Date();\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2) + ' ';\nd += ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.date_time = d;\n\nmsg.payload = \"insert into EstimateVolumeDisplay (date_time_graf, estimate_volume) values(\" + \n\"'\" + msg.date_time + \"'\" + \", \" + \n\"'\" + \"0\" + \"'\" +\n\")\";\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":840,"wires":[["1a4a0799.570258"]]},{"id":"960a7c03.ebd42","type":"inject","z":"a17d6158.78172","name":"StandardVolumeDIsplayテーブル削除(起動時)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":920,"wires":[["5757e110.fd48a"]]},{"id":"5757e110.fd48a","type":"function","z":"a17d6158.78172","name":"StandardVolumeDIsplayテーブル削除","func":"msg.payload = \"drop table StandardVolumeDIsplay;\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":920,"wires":[["7afd90e8.f7c2a"]]},{"id":"de946a32.306468","type":"inject","z":"a17d6158.78172","name":"テーブル作成の起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":980,"wires":[["473b2213.90bc0c"]]},{"id":"473b2213.90bc0c","type":"function","z":"a17d6158.78172","name":"StandardVolumeDIsplayテーブル作成","func":"msg.payload = \"create table StandardVolumeDIsplay ( id SERIAL,  date_time_graf timestamp, standard_volume integer, primary key (id));\"\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":980,"wires":[["b7dced37.d4318"]]},{"id":"c415f4c4.8da008","type":"inject","z":"a17d6158.78172","name":"StandardVolumeDIsplayテーブル初期値設定(起動時)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":310,"y":1040,"wires":[["1f9e6475.fc1b8c"]]},{"id":"1f9e6475.fc1b8c","type":"function","z":"a17d6158.78172","name":"StandardVolumeDIsplay初期値入力1","func":"var date = new Date();\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2) + ' ';\nd += ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.date_time = d;\n\nmsg.payload = \"insert into StandardVolumeDIsplay (date_time_graf, standard_volume) values(\" + \n\"'\" + msg.date_time + \"'\" + \", \" + \n\"'\" + \"0\" + \"'\" +\n\")\";\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1040,"wires":[["6deab942.295988"]]},{"id":"486e09c8.c6b4d8","type":"function","z":"a17d6158.78172","name":"volume DB更新","func":"var last_volume = flow.get(\"f_last_volume\") || {};\nvar volume_sw = flow.get(\"f_volume_sw\") || 0;\n\nflow.set(\"f_volume_sw\", ++volume_sw);\n//奇数の場合ここで終了\nif((volume_sw % 2) !== 0){\n    return;\n}\n\nif(last_volume !== msg.volume){\n    msg.payload = \"insert into VolumeDisplay (date_time_graf, volume) values(\" + \n    \"'\" + msg.date_time + \"'\" + \", \" + \n    \"'\" + msg.volume + \"'\" +\n    \")\";\n    flow.set(\"f_last_volume\", msg.volume);\n    return msg;\n}","outputs":1,"noerr":0,"x":1030,"y":2420,"wires":[["2b5f41f6.d7d1ee"]]},{"id":"af4e28aa.009ea8","type":"postgres","z":"f2fadff3.f04bc","postgresdb":"e916a8a8.2832f8","name":"postgresql","output":true,"outputs":1,"x":370,"y":80,"wires":[[]]},{"id":"c6ea0643.cdbf28","type":"function","z":"a17d6158.78172","name":"estimate_volume DB更新","func":"var last_estimate_volume = flow.get(\"f_last_estimate_volume\") || {};\nvar volume_sw = flow.get(\"f_volume_sw\") || 0;\n\n//偶数の場合ここで終了\nif((volume_sw % 2) === 0){\n    return;\n}\n\nif(last_estimate_volume !== msg.estimate_volume){\n    msg.payload = \"insert into EstimateVolumeDisplay (date_time_graf, estimate_volume) values(\" + \n    \"'\" + msg.date_time + \"'\" + \", \" + \n    \"'\" + msg.estimate_volume + \"'\" +\n    \")\";\n    flow.set(\"f_last_estimate_volume\", msg.estimate_volume);\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":2460,"wires":[["587efdd7.836dc4"]]},{"id":"43f23a55.684e74","type":"function","z":"a17d6158.78172","name":"standard_volume DB更新","func":"var last_standard_volume = flow.get(\"f_last_standard_volume\") || {};\n\nif(last_standard_volume !== msg.standard_volume){\n    msg.payload = \"insert into StandardVolumeDisplay (date_time_graf, standard_volume) values(\" + \n    \"'\" + msg.date_time + \"'\" + \", \" + \n    \"'\" + msg.standard_volume + \"'\" +\n    \")\";\n    flow.set(\"f_last_standard_volume\", msg.standard_volume);\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":2500,"wires":[["4bead34a.3ba58c"]]},{"id":"6b3a7d2e.ee0084","type":"comment","z":"9725a0bb.b378e","name":"設備停止閾値設定","info":"","x":130,"y":240,"wires":[]},{"id":"ec547007.9cc29","type":"ui_text","z":"9725a0bb.b378e","group":"4f5abdb4.a07914","order":2,"width":0,"height":0,"name":"","label":"設備停止時間の閾値(秒)設定","format":"標準サイクルタイム + {{stop_diff}}","layout":"col-center","x":630,"y":340,"wires":[]},{"id":"6bbfffda.37a2f","type":"ui_form","z":"9725a0bb.b378e","name":"閾値設定","label":"","group":"35fc9728.2ba578","order":2,"width":0,"height":0,"options":[{"label":"値","value":"stop_diff","type":"number","required":true}],"formValue":{"stop_diff":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":440,"wires":[["3ae7c57a.dd2aca"]]},{"id":"3ae7c57a.dd2aca","type":"function","z":"9725a0bb.b378e","name":"設定値保存","func":"var stop_diff = msg.payload.stop_diff;\n\nmsg.payload = {\"stop_diff\": stop_diff};\nmsg.stop_diff = stop_diff;\nglobal.set(\"g_stop_diff\", msg.stop_diff);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["3cb112dc.95509e","ec547007.9cc29"]]},{"id":"3cb112dc.95509e","type":"file","z":"9725a0bb.b378e","name":"停止時間ライト","filename":"/home/RMS/.setting/stop_diff.dat","appendNewline":false,"createDir":true,"overwriteFile":"true","x":550,"y":440,"wires":[[]]},{"id":"105e5e2d.00b6f2","type":"ui_text","z":"9725a0bb.b378e","group":"4f5abdb4.a07914","order":1,"width":0,"height":0,"name":"スペーサ","label":"","format":"","layout":"row-left","x":140,"y":400,"wires":[]},{"id":"3a88fa2d.94b856","type":"ui_text","z":"9725a0bb.b378e","group":"35fc9728.2ba578","order":1,"width":0,"height":0,"name":"スペーサ","label":"","format":"","layout":"row-left","x":140,"y":300,"wires":[]},{"id":"9e86dd69.02513","type":"comment","z":"9725a0bb.b378e","name":"設備停止管理","info":"","x":90,"y":520,"wires":[]},{"id":"cf4fb52.e827648","type":"comment","z":"9725a0bb.b378e","name":"初期処理","info":"","x":100,"y":60,"wires":[]},{"id":"d16f1286.698bf","type":"inject","z":"9725a0bb.b378e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":150,"y":120,"wires":[["70175d5b.a99d84"]]},{"id":"70175d5b.a99d84","type":"file in","z":"9725a0bb.b378e","name":"停止時間リード","filename":"/home/RMS/.setting/stop_diff.dat","format":"lines","chunk":false,"sendError":false,"x":330,"y":120,"wires":[["976c0c6c.90ba1"]]},{"id":"976c0c6c.90ba1","type":"json","z":"9725a0bb.b378e","name":"","property":"payload","action":"","pretty":false,"x":510,"y":120,"wires":[["2b5b0199.14eb5e"]]},{"id":"2b5b0199.14eb5e","type":"change","z":"9725a0bb.b378e","name":"","rules":[{"t":"set","p":"g_stop_diff","pt":"global","to":"payload.stop_diff","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":120,"wires":[[]]},{"id":"e6cffab6.0a82a8","type":"inject","z":"9725a0bb.b378e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"3","x":150,"y":340,"wires":[["7383df7c.bb016"]]},{"id":"7383df7c.bb016","type":"change","z":"9725a0bb.b378e","name":"","rules":[{"t":"set","p":"stop_diff","pt":"msg","to":"g_stop_diff","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":340,"wires":[["ec547007.9cc29"]]},{"id":"435ba3ac.ec3e0c","type":"link in","z":"9725a0bb.b378e","name":"▶設備停止管理","links":["c62b0516.377a18","9e54a880.a05df8","659dfad1.63b2c4"],"x":115,"y":660,"wires":[["fe7ef59d.4ea368","f73149fb.8b4d28"]]},{"id":"fe7ef59d.4ea368","type":"debug","z":"9725a0bb.b378e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":210,"y":600,"wires":[]},{"id":"d2a3acdf.3aa4d","type":"function","z":"9725a0bb.b378e","name":"設備稼働処理","func":"\n// 停止タイマ停止\nflow.set(\"f_stop_timer\", 0);\n\n// 停止終了時刻設定\nflow.set(\"f_stop_end_time\", msg.epoch_time);\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":620,"wires":[["b249260a.8b54e8"]]},{"id":"dd85c9e2.d38828","type":"switch","z":"9725a0bb.b378e","name":"","property":"blue","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":660,"wires":[["d2a3acdf.3aa4d"],["bcb11f67.724ad"],[]]},{"id":"bcb11f67.724ad","type":"function","z":"9725a0bb.b378e","name":"設備停止処理","func":"\n// 設備停止タイマ開始\nvar stop_diff = global.get(\"g_stop_diff\") || 0;\nvar stop_timer = msg.standard_cycle_time + stop_diff;\n\nflow.set(\"f_stop_timer\", stop_timer);\n\n// 停止開始時刻の設定\nflow.set(\"f_stop_start_time\", msg.epoch_time);\n\n// 他の変数クリア\nflow.set(\"f_stop_end_time\", 0);\nflow.set(\"f_period_time\", 0);\nflow.set(\"f_stop_reason\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":660,"wires":[["429663c7.26f12c"]]},{"id":"152d32e9.1e7c7d","type":"inject","z":"9725a0bb.b378e","name":"1秒間隔","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":820,"wires":[["3b656726.b6d758"]]},{"id":"3b656726.b6d758","type":"switch","z":"9725a0bb.b378e","name":"停止タイマ判定","property":"f_stop_timer","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":820,"wires":[["94099d74.efb58"],[]]},{"id":"94099d74.efb58","type":"function","z":"9725a0bb.b378e","name":"停止タイマ-1","func":"var stop_timer = flow.get(\"f_stop_timer\") || 0;\n\n// stop_timer -1\nif(stop_timer > 0){\n    stop_timer -= 1;\n}\nif(stop_timer === 0){\n    // ブザー出力\n    msg.bz = \"ON\";\n}\nelse{\n    msg.bz = \"OFF\";\n}\nflow.set(\"f_stop_timer\", stop_timer);\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":820,"wires":[["2487ef18.b1fdb"]]},{"id":"2487ef18.b1fdb","type":"switch","z":"9725a0bb.b378e","name":"BZ判定","property":"bz","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":820,"wires":[["4e4dbcea.3c02b4"],[]]},{"id":"efef4c27.1ecfa","type":"rpi-gpio out","z":"9725a0bb.b378e","name":"","pin":"15","set":"","level":"0","freq":"","out":"out","x":1100,"y":820,"wires":[]},{"id":"4e4dbcea.3c02b4","type":"change","z":"9725a0bb.b378e","name":"BZ ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":820,"wires":[["efef4c27.1ecfa","36f8aa75.0fed96"]]},{"id":"429663c7.26f12c","type":"debug","z":"9725a0bb.b378e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":700,"wires":[]},{"id":"36f8aa75.0fed96","type":"debug","z":"9725a0bb.b378e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":880,"wires":[]},{"id":"7c2e3411.0560fc","type":"link in","z":"9725a0bb.b378e","name":"▶停止理由コード","links":["e1c21b80.81d868","99b69297.d9c1a","bdef1ad3.8bd638"],"x":135,"y":960,"wires":[["cef90d08.90732","a68ac0.e60fd54"]]},{"id":"cef90d08.90732","type":"function","z":"9725a0bb.b378e","name":"停止理由設定","func":"var stop_reason = msg.payload.substr(5,2);\n\nflow.set(\"f_stop_reason\", stop_reason);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":960,"wires":[["98796055.c386c"]]},{"id":"98796055.c386c","type":"change","z":"9725a0bb.b378e","name":"BZ OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":960,"wires":[["efef4c27.1ecfa"]]},{"id":"2f2ed2f4.2dfabe","type":"comment","z":"9725a0bb.b378e","name":"停止理由バーコード読込み","info":"","x":220,"y":920,"wires":[]},{"id":"b249260a.8b54e8","type":"function","z":"9725a0bb.b378e","name":"csvデータ作成","func":"var stop_start_time = flow.get(\"f_stop_start_time\") || 0;\nvar stop_end_time = flow.get(\"f_stop_end_time\") || 0;\nvar stop_reason = flow.get(\"f_stop_reason\") || \"00\";\nvar stop_period_time = (stop_end_time - stop_start_time) - 9*60*60*1000;\n\nif((stop_start_time === 0) || (stop_reason === 0)){\n    // 停止開始時間が未設定の場合、終了\n    return;\n}\n\n// 停止開始時刻\nvar date = new Date(stop_start_time);\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2) + ' ';\nd += ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.stop_start_time = d;\n\n// 停止終了時刻\nvar date = new Date(stop_end_time);\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2) + ' ';\nd += ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.stop_end_time = d;\n\n// 停止時間\nvar date = new Date(stop_period_time);\nd = ('0' + date.getHours()).slice(-2) + ':';\nd += ('0' + date.getMinutes()).slice(-2) + ':';\nd += ('0' + date.getSeconds()).slice(-2);\nmsg.stop_period_time = d;\n\nmsg.stop_reason = stop_reason;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":620,"wires":[["e91a5ce9.12b2b","10d21c91.4596f3"]]},{"id":"e91a5ce9.12b2b","type":"debug","z":"9725a0bb.b378e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":660,"wires":[]},{"id":"c94d2924.73af78","type":"function","z":"9725a0bb.b378e","name":"ファイル名作成","func":"var dir = global.get(\"g_edge_base_dir\");\nvar equipment_no = global.get(\"g_equipment_no\");\n\nvar date = new Date();\nvar d = date.getFullYear();\nd += ('0' + (date.getMonth() + 1)).slice(-2);\nd += ('0' + date.getDate()).slice(-2);\n\nmsg.filename = dir + \"/\" + equipment_no + \"_\" + d + \".csv\";\nflow.set(\"csv_filename\", msg.filename);\nmsg.filename = equipment_no + \"_\" + d + \".csv\";\nflow.set(\"csv_filename2\", msg.filename);\n\n\nmsg.filename = dir + \"/\" + equipment_no + \"_\" + d + \"_STOP.csv\";\nflow.set(\"stop_csv_filename\", msg.filename);\nmsg.filename = equipment_no + \"_\" + d + \"_STOP.csv\";\nflow.set(\"stop_csv_filename2\", msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[[]]},{"id":"91b42d64.34dd3","type":"inject","z":"9725a0bb.b378e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"3","x":150,"y":180,"wires":[["c94d2924.73af78"]]},{"id":"10d21c91.4596f3","type":"function","z":"9725a0bb.b378e","name":"ファイル名取得","func":"msg.filename = flow.get(\"stop_csv_filename\");\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":620,"wires":[["837e8fed.fe6e5"]]},{"id":"656c5fc8.aef0b","type":"file","z":"9725a0bb.b378e","name":"レコードの追記","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1343.0000667572021,"y":619.0001621246338,"wires":[[]]},{"id":"837e8fed.fe6e5","type":"function","z":"9725a0bb.b378e","name":"データレコード生成","func":"\nmsg.payload = global.get(\"g_equipment_no\") +\n        \",\" + msg.stop_start_time +\n        \",\" + msg.stop_end_time +\n        \",\" + msg.stop_period_time +\n        \",\" + msg.stop_reason +\n        \"\\n\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":620,"wires":[["656c5fc8.aef0b","6223a908.fff058","f40f3168.4788b"]]},{"id":"6223a908.fff058","type":"function","z":"9725a0bb.b378e","name":"変数リセット","func":"// 変数クリア\nflow.set(\"f_stop_start_time\", 0);\nflow.set(\"f_stop_end_time\", 0);\nflow.set(\"f_period_time\", 0);\nflow.set(\"f_stop_reason\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":660,"wires":[[]]},{"id":"1bd2cbf6.036874","type":"comment","z":"9725a0bb.b378e","name":"csvファイルftp転送","info":"","x":130,"y":1080,"wires":[]},{"id":"72b31017.11e91","type":"inject","z":"9725a0bb.b378e","name":"稼働状態CSV","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"x":180,"y":1140,"wires":[["98b89fec.19c8f"]]},{"id":"ee4fcd0e.6df4b","type":"exec","z":"9725a0bb.b378e","command":"/home/RMS/.setting/ftp_up.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ftp","x":850,"y":1140,"wires":[["386ca97e.b180e6"],[],[]]},{"id":"68d7d1e8.edad9","type":"function","z":"9725a0bb.b378e","name":"ftp引数","func":"\nmsg.payload = global.get(\"g_server_ip\") + \" \" +\n              \"rivatec\" + \" \" +\n              \"rms201804\" + \" \" +\n              flow.get(\"csv_filename2\") + \" \" +\n              \"/home/RMS/\" + \" \" +\n              \"upload\";\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1140,"wires":[["ee4fcd0e.6df4b","6f6d8976.5d4208"]]},{"id":"386ca97e.b180e6","type":"debug","z":"9725a0bb.b378e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":1120,"wires":[]},{"id":"59b14012.ba706","type":"inject","z":"9725a0bb.b378e","name":"停止CSV","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"05 04 * * *","once":false,"onceDelay":0.1,"x":170,"y":1220,"wires":[["725932e7.ac90fc"]]},{"id":"48187254.433f0c","type":"exec","z":"9725a0bb.b378e","command":"/home/RMS/.setting/ftp_up.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ftp","x":850,"y":1220,"wires":[["40b4502f.5a9ae"],[],[]]},{"id":"1fe1ae1d.714782","type":"function","z":"9725a0bb.b378e","name":"ftp引数","func":"\nmsg.payload = global.get(\"g_server_ip\") + \" \" +\n              \"rivatec\" + \" \" +\n              \"rms201804\" + \" \" +\n              flow.get(\"stop_csv_filename2\") + \" \" +\n              \"/home/RMS/\" + \" \" +\n              \"upload\";\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1220,"wires":[["48187254.433f0c"]]},{"id":"40b4502f.5a9ae","type":"debug","z":"9725a0bb.b378e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":1200,"wires":[]},{"id":"a68ac0.e60fd54","type":"debug","z":"9725a0bb.b378e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":250,"y":1000,"wires":[]},{"id":"f40f3168.4788b","type":"debug","z":"9725a0bb.b378e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1310,"y":580,"wires":[]},{"id":"996ed8db.f4c3e8","type":"delay","z":"9725a0bb.b378e","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1140,"wires":[["68d7d1e8.edad9"]]},{"id":"98b89fec.19c8f","type":"function","z":"9725a0bb.b378e","name":"delay","func":"var delay = global.get(\"g_disp_no\");\n\nmsg.delay = delay * 1000;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1140,"wires":[["996ed8db.f4c3e8"]]},{"id":"725932e7.ac90fc","type":"function","z":"9725a0bb.b378e","name":"delay","func":"var delay = global.get(\"g_disp_no\");\n\nmsg.delay = delay * 1000;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1220,"wires":[["47793de.281fdc4"]]},{"id":"47793de.281fdc4","type":"delay","z":"9725a0bb.b378e","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1220,"wires":[["1fe1ae1d.714782"]]},{"id":"82765de9.2f192","type":"function","z":"34d18a87.5340b6","name":"●バーコード種別判定","func":"//先頭5文字を切出す\n\nvar top5 = msg.payload.substr(0, 5);\nif(top5 === \"*****\"){\n    // 停止理由バーコード\n    msg.stop_reason = \"true\";\n}\nelse{\n    msg.stop_reason = \"false\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":940,"wires":[["563dcfa1.22479"]]},{"id":"563dcfa1.22479","type":"switch","z":"34d18a87.5340b6","name":"●停止理由？","property":"stop_reason","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":940,"wires":[["bdef1ad3.8bd638"],["f097d02f.f0d06","ec32817c.e600b"]]},{"id":"bdef1ad3.8bd638","type":"link out","z":"34d18a87.5340b6","name":"停止理由コード▶","links":["7c2e3411.0560fc"],"x":775,"y":920,"wires":[]},{"id":"b0164eb7.d9c5b","type":"inject","z":"34d18a87.5340b6","name":"停止理由","topic":"","payload":"*****01","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"5","x":100,"y":940,"wires":[["82765de9.2f192"]]},{"id":"659dfad1.63b2c4","type":"link out","z":"a17d6158.78172","name":"設備停止管理▶","links":["435ba3ac.ec3e0c"],"x":1315,"y":2140,"wires":[]},{"id":"6f6d8976.5d4208","type":"debug","z":"9725a0bb.b378e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":1080,"wires":[]},{"id":"f73149fb.8b4d28","type":"switch","z":"9725a0bb.b378e","name":"加工品番読込み済み判断","property":"part_no","propertyType":"msg","rules":[{"t":"neq","v":"----","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":720,"wires":[["dd85c9e2.d38828"],[]]},{"id":"2b5f41f6.d7d1ee","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","x":1290,"y":2420,"wires":[[]]},{"id":"45855bbf.dc8e54","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":830,"y":100,"wires":[["3b3fdafc.584326"]]},{"id":"dafb0e16.eddb8","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":830,"y":160,"wires":[["fd31251.ba652d8"]]},{"id":"60d23dd5.f60f44","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":750,"y":220,"wires":[["913b10cd.56842"]]},{"id":"15faa0f7.baac0f","type":"function","z":"f2fadff3.f04bc","name":"query","func":"var query = msg.payload;\n\nmsg.payload = [{query: query}];\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["af4e28aa.009ea8"]]},{"id":"5b0a803d.b49b7","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":950,"y":520,"wires":[["eda6cb28.7d5a88"]]},{"id":"722a92e0.5705bc","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":950,"y":580,"wires":[["c86b333a.94358"]]},{"id":"a1d9149b.ae0cf8","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":950,"y":640,"wires":[[]]},{"id":"825043df.2574d","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":1070,"y":720,"wires":[["ae9aca8e.2a3048"]]},{"id":"54228959.b2dc48","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":1070,"y":780,"wires":[["debd7a6a.699878"]]},{"id":"1a4a0799.570258","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":1070,"y":840,"wires":[[]]},{"id":"7afd90e8.f7c2a","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":1070,"y":920,"wires":[["473b2213.90bc0c"]]},{"id":"b7dced37.d4318","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":1070,"y":980,"wires":[["1f9e6475.fc1b8c"]]},{"id":"6deab942.295988","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":1070,"y":1040,"wires":[[]]},{"id":"d0084a16.618808","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":750,"y":1300,"wires":[["c8c36cbc.bb174"]]},{"id":"934ee1eb.e64df","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":750,"y":1360,"wires":[["bec24ff6.5fb02"]]},{"id":"5edaacb8.e14df4","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":730,"y":1500,"wires":[["4f476d1b.eab894"]]},{"id":"97f82a1c.8a0a98","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":610,"y":1660,"wires":[["21aec4a3.d9af1c"]]},{"id":"e37fa967.8540c8","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":610,"y":1700,"wires":[["43d12763.00e278"]]},{"id":"bf48e5fe.29ae98","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":1030,"y":2140,"wires":[["c196622b.fe991","f345ac08.a1b39","659dfad1.63b2c4"]]},{"id":"587efdd7.836dc4","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":1290,"y":2460,"wires":[[]]},{"id":"4bead34a.3ba58c","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":1290,"y":2500,"wires":[[]]},{"id":"68f6daf3.31b0e4","type":"subflow:f2fadff3.f04bc","z":"a17d6158.78172","name":"","x":850,"y":4060,"wires":[["5673dd88.dc4dd4"]]},{"id":"124ae6e9.1007a9","type":"subflow:f2fadff3.f04bc","z":"7f862bf4.5c4854","name":"","x":930,"y":200,"wires":[["3a8f9979.033156"]]},{"id":"e377f6ee.c6cde8","type":"subflow:f2fadff3.f04bc","z":"7f862bf4.5c4854","name":"","x":1090,"y":860,"wires":[[]]},{"id":"6101b9f6.5bade8","type":"subflow:f2fadff3.f04bc","z":"ee0cd21d.ab777","name":"","x":530,"y":300,"wires":[["3ea87230.3a0b0e"]]},{"id":"60d1f6f3.8f5be8","type":"subflow:f2fadff3.f04bc","z":"ee0cd21d.ab777","name":"","x":530,"y":340,"wires":[["eee35377.c7bf6"]]},{"id":"112fef77.2d4271","type":"subflow:f2fadff3.f04bc","z":"ee0cd21d.ab777","name":"","x":710,"y":700,"wires":[[]]},{"id":"18c5362b.3d9fba","type":"postgres","z":"eee88f0c.37676","postgresdb":"e916a8a8.2832f8","name":"postgresql","output":true,"outputs":1,"x":350,"y":60,"wires":[[]]},{"id":"9b0ffcda.a96dd","type":"function","z":"eee88f0c.37676","name":"query","func":"var query = msg.payload;\n\nmsg.payload = [{query: query, output: true}];\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":60,"wires":[["18c5362b.3d9fba"]]},{"id":"dc63c943.3dbf38","type":"postgres","z":"5b877ada.11e2b4","postgresdb":"5fc08b19.96ba84","name":"Postgresql","output":true,"outputs":1,"x":388,"y":81.99999809265137,"wires":[[]]},{"id":"1e8b9e8.9e0a662","type":"function","z":"5b877ada.11e2b4","name":"query作成","func":"var query = msg.payload;\n\nmsg.payload = [{query: query}];\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":160,"wires":[[]]},{"id":"1c74119b.e5ab7e","type":"subflow:eee88f0c.37676","z":"a17d6158.78172","name":"","x":1080,"y":1880,"wires":[["a35e000b.2404f"]]},{"id":"d5faf7d0.9e73f8","type":"subflow:eee88f0c.37676","z":"a17d6158.78172","name":"","x":1040,"y":2000,"wires":[["4ff13668.9c49e8"]]},{"id":"7790a60e.932a18","type":"subflow:eee88f0c.37676","z":"7f862bf4.5c4854","name":"","x":1120,"y":260,"wires":[["c34f253e.889028"]]},{"id":"f435c364.1fb9f","type":"subflow:eee88f0c.37676","z":"7f862bf4.5c4854","name":"","x":940,"y":420,"wires":[["4f6953e.bb98aac"]]},{"id":"7721ecf3.a22ce4","type":"subflow:eee88f0c.37676","z":"ee0cd21d.ab777","name":"","x":620,"y":640,"wires":[["1d1d8908.636227"]]},{"id":"32af23a6.04352c","type":"subflow:eee88f0c.37676","z":"ee0cd21d.ab777","name":"","x":600,"y":920,"wires":[["f35d2463.2c3398"]]},{"id":"1a84cfb.dd73d3","type":"debug","z":"34d18a87.5340b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":160,"wires":[]},{"id":"b334a8de.fb0e18","type":"debug","z":"34d18a87.5340b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":300,"wires":[]},{"id":"21c60d8.b9569f2","type":"serial request","z":"34d18a87.5340b6","name":"","serial":"42529f1b.ba938","x":140,"y":1040,"wires":[["82765de9.2f192","e120490c.b6d7f8"]]},{"id":"18abff5b.c73211","type":"inject","z":"34d18a87.5340b6","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"10","x":270,"y":440,"wires":[["577db4b1.50437c"]]},{"id":"3642fa5c.130516","type":"inject","z":"34d18a87.5340b6","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"10","x":410,"y":440,"wires":[["577db4b1.50437c"]]},{"id":"2c3f23ff.46578c","type":"inject","z":"34d18a87.5340b6","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"10","x":350,"y":620,"wires":[["56c63e50.a9e73"]]}]
